@media (max-width: 539px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 15px;
    }


    .block,
    .block.min_m,
    .block.middle_m
    {
        margin-bottom: 50px;
    }



    /*--------------
        buttonUp
    --------------*/
    .buttonUp
    {
        right: 15px;
        bottom: 15px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 10px 0;
    }


    header .logo img
    {
        width: 59px;
    }


    header .test_btn
    {
        display: none;
    }



    /*-----------------
        Breadcrumbs
    -----------------*/
    .breadcrumbs
    {
        font-size: 12px;
        line-height: 18px;

        padding: 20px 0;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title br
    {
        display: none;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        line-height: 125%;
    }


    .text_block h3
    {
        font-size: 22px;
    }

    .text_block h4
    {
        font-size: 18px;
    }


    .text_block ol li
    {
        padding-left: 53px;

        background-position: 0 0;
    }

    .text_block ol li + li
    {
        margin-top: 22px;
    }

    .text_block ol li:before
    {
        font-size: 40px;
        line-height: 42px;

        bottom: auto;

        width: 45px;
        margin: 0;

        text-align: center;
    }


    .text_block .signs .row
    {
        margin-bottom: -15px;
    }

    .text_block .signs .row > *
    {
        margin-bottom: 15px;
        padding: 24px;
    }


    .text_block .signs .name
    {
        font-size: 18px;
    }


    .text_block .signs ul li
    {
        font-size: 15px;
        line-height: 140%;
    }

    .text_block .signs ul li:before
    {
        top: 9px;
    }


    .text_block .products .row
    {
        margin-bottom: -20px;
        margin-left: 0;
    }

    .text_block .products .row > *
    {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding: 0;

        background: none;
    }


    .first_section .title
    {
        font-size: 26px;
    }


    .first_section .desc
    {
        font-size: 16px;
    }


    .first_section .actions
    {
        width: 100%;
        margin-top: 22px;
        margin-bottom: 20px;
    }


    .first_section .actions .item
    {
        padding: 2px 0;

        background: #f2e6f6;
        box-shadow: none;
    }


    .first_section .actions .icon
    {
        width: 40px;
        height: 40px;
        padding: 5px;
    }

    .first_section .actions .icon + *
    {
        width: calc(100% - 50px);
    }


    .first_section .bg
    {
        position: relative;
        right: 0;

        width: 100%;
        height: 375px;
        margin-bottom: 50px;

        object-position: 90% 100%;
    }



    /*-------------------
        Why important
    -------------------*/
    .why_important
    {
        padding: 0;
    }


    .why_important .data .link a
    {
        padding: 14px 15px;
    }


    .why_important .mob_stats
    {
        padding: 10px;
    }



    /*--------------
        Symptoms
    --------------*/
    .symptoms
    {
        padding: 50px 0 93px;
    }


    .symptoms .block_head
    {
        margin-bottom: 26px;
    }

    .symptoms .block_head .desc
    {
        width: 100%;
        margin-top: 30px;
    }


    .symptoms .sub_title
    {
        font-size: 18px;
    }


    .symptoms .row
    {
        margin-bottom: -24px;
        margin-left: 0;
    }

    .symptoms .row > *
    {
        width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }


    .symptoms .item .icon
    {
        width: 50px;
        height: 50px;
    }

    .symptoms .item .icon + *
    {
        width: calc(100% - 70px);
    }


    .symptoms .spoler_btn div
    {
        padding: 0 10px;
    }


    .symptoms .link a
    {
        padding: 14px 15px;
    }



    /*---------------
        Influence
    ---------------*/
    .influence .item .thumb
    {
        padding-bottom: 260px;
    }


    .influence .item .title
    {
        padding: 31px 20px 34px;
    }


    .influence .item .info .desc
    {
        display: -webkit-box;
        overflow-y: hidden;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
    }



    /*-------------
        Deficit
    -------------*/
    .deficit .block_head
    {
        margin-bottom: 30px;
    }

    .deficit .block_head .title
    {
        width: calc(100% - 62px);
    }



    /*------------
        Yniron
    ------------*/
    .yuniron .data
    {
        padding: 0 0 43px;
    }


    .yuniron .info
    {
        width: 100%;
    }


    .yuniron .bottom
    {
        margin-top: 23px;
    }


    .yuniron .test_btn
    {
        padding: 7px 28px 7px 29px;
    }


    .yuniron .exp
    {
        width: 100%;
        margin-top: 17px;
        margin-left: 0;
    }

    .yuniron .exp br
    {
        display: none;
    }


    .yuniron .bg
    {
        position: relative;
        left: 0;

        height: 337px;
        margin-bottom: 26px;
    }



    .yuniron .hashtag
    {
        font-size: 24px;

        padding: 18px;
    }



    /*--------------------
        Expert opinion
    --------------------*/
    .expert_opinion .big .quote
    {
        padding: 20px 20px 20px 0;
    }

    .expert_opinion .big .text
    {
        font-size: 15px;
    }


    .expert_opinion .sub_title
    {
        font-size: 18px;
    }


    .expert_opinion .video
    {
        margin-top: 40px;
    }

    .expert_opinion .video .play_btn .icon
    {
        width: 47px;
        height: 47px;
    }


    .expert_opinion .carousel .swiper-slide
    {
        width: 290px;
    }


    .expert_opinion .row
    {
        margin-top: 40px;
    }


    .expert_opinion .item
    {
        padding: 24px;
    }

    .expert_opinion .item .title
    {
        font-size: 18px;
        line-height: 125%;

        margin-bottom: 32px;
    }

    .expert_opinion .item .desc
    {
        margin-bottom: 18px;
    }



    /*----------------------
        During pregnancy
    ----------------------*/
    .during_pregnancy
    {
        margin-bottom: 59px;
        padding-top: 50px;
    }


    .during_pregnancy .articles
    {
        display: block;
        overflow: auto;

        width: calc(100% + 30px);
        margin: 40px -15px 0;
        padding: 0 15px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .during_pregnancy .articles::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .during_pregnancy .articles::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .during_pregnancy .articles .article
    {
        display: inline-block;

        width: 230px;
        max-width: none;
        margin: 0;

        vertical-align: top;
        white-space: normal;
    }

    .during_pregnancy .articles .article + .article
    {
        margin-left: 16px;
    }


    .during_pregnancy .anemia
    {
        padding: 16px 24px;
    }




    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        min-height: 428px;
        margin-bottom: 109px;
        padding-top: 50px;
        padding-bottom: 250px;
    }


    .service_head .bg
    {
        object-position: 60% 50%;
    }


    .service_head .data
    {
        width: 100%;
    }

    .service_head .data.pad_r
    {
        padding-right: 36px;
    }


    .service_head .data .title
    {
        font-size: 30px;
        line-height: 125%;
    }


    .service_head .data .desc
    {
        line-height: 125%;

        width: 256px;
        margin-top: 15px;
    }


    .service_head .data .btn
    {
        width: 100%;
        margin-top: 27px;
        padding: 14px 14px 15px;

        text-align: center;
    }


    .service_head .anchors
    {
        padding: 30px 0;
    }


    .service_head .anchors .row,
    .service_head .anchors .row.alignleft
    {
        display: block;

        margin: 0;
    }


    .service_head .anchors .row > *,
    .service_head .anchors .row.alignleft > *
    {
        width: 100%;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
    }

    .service_head .anchors .row > * + *,
    .service_head .anchors .row.alignleft > * + *
    {
        margin-top: 20px !important;
        margin-left: 0 !important;
    }


    .service_head .anchors .btn
    {
        font-size: 16px;
        line-height: 125%;

        padding-left: 28px;

        text-decoration: none;
    }

    .service_head .anchors .btn .icon
    {
        display: block;
    }



    /*-------------
        Why how
    -------------*/
    .why_how .info
    {
        margin-top: 55px;
        padding: 39px 13px 39px;
    }


    .why_how .info .icon
    {
        top: -29px;
        right: 0;
        bottom: auto;
        left: 0;

        width: 50px;
        height: 50px;
        padding: 8px;

        border-width: 4px;
    }


    .why_how .info .title
    {
        line-height: 125%;
    }



    /*------------------
        Which doctor
    ------------------*/
    .which_doctor .data
    {
        width: calc(100% + 32px);
        margin-right: -16px;
        margin-left: -16px;
        padding: 253px 16px 50px;
    }


    .which_doctor .block_head
    {
        width: 100%;
    }

    .which_doctor .block_head .title
    {
        font-size: 21px;
    }


    .which_doctor .bg
    {
        left: 0;

        min-width: 200px;
        height: 223px;
    }

    .which_doctor .mob_bg
    {
        height: 223px;
    }


    .which_doctor .data:after
    {
        width: calc(100% - 196px);

        background: linear-gradient(270.24deg, #f8f8f8 50%, rgba(248, 248, 248, 0) 99.79%);
    }



    /*-----------------
        How prepare
    -----------------*/
    .how_prepare .video_link
    {
        margin-top: 28px;
    }


    .how_prepare .video_link .thumb
    {
        width: 100%;
        height: auto;
        padding-bottom: 62.06%;
    }


    .how_prepare .video_link .thumb + *
    {
        width: 100%;
        padding-top: 18px;
    }


    .how_prepare .video_link .title
    {
        font-size: 18px;
        line-height: 125%;
    }

    .how_prepare .video_link .author
    {
        font-size: 12px;
        line-height: 125%;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 50px 0;
    }


    .action_block .title
    {
        font-size: 22px;

        width: 100%;
    }


    .action_block .test_btn
    {
        font-size: 14px;
        line-height: 16px;

        margin-top: 40px;
        margin-right: auto;
        margin-left: 0;
        padding: 14px 30px 15px;
    }



    /*-----------------
        Preparation
    -----------------*/
    .preparation .row
    {
        margin-bottom: -35px;
    }

    .preparation .row > *
    {
        margin-bottom: 35px;
    }


    .preparation .item
    {
        line-height: 125%;
    }


    .preparation .item .icon
    {
        width: 50px;
        height: 50px;
    }

    .preparation .item .icon + *
    {
        width: 100%;
        margin-top: 10px;
    }



    /*-------------
        Results
    -------------*/
    .results
    {
        padding: 50px 0;
    }


    .results .block_head
    {
        margin-bottom: 40px;
    }

    .results .block_head .title
    {
        font-size: 22px;
    }


    .results .swiper-button-next,
    .results .swiper-button-prev
    {
        display: none;
    }


    .results .row > *
    {
        width: 100%;
    }

    .results .row > * + *
    {
        margin-top: 25px;
    }


    .results .item
    {
        padding: 25px 20px 20px;
    }


    .results .exp
    {
        margin-top: 15px;
        padding: 0 15px;
    }



    /*-----------------------
        Treatment control
    -----------------------*/
    .treatment_control .video_link
    {
        margin-top: 28px;
    }


    .treatment_control .video_link .thumb
    {
        width: 100%;
        height: auto;
        padding-bottom: 62.06%;
    }


    .treatment_control .video_link .thumb + *
    {
        width: 100%;
        padding-top: 18px;
    }


    .treatment_control .video_link .title
    {
        font-size: 18px;
        line-height: 125%;
    }

    .treatment_control .video_link .author
    {
        font-size: 12px;
        line-height: 125%;
    }



    /*----------
        Test
    ----------*/
    .test
    {
        padding: 50px 0;
    }


    .test .data
    {
        margin-bottom: 29px;
        padding: 0;
    }


    .test .data .pre_title
    {
        margin-bottom: 5px;
    }


    .test .data .title
    {
        font-size: 22px;
    }


    .test .data .desc
    {
        font-size: 16px;
        line-height: 120%;
    }


    .test .question
    {
        font-size: 16px;

        padding: 32px 24px;
    }


    .test .answers
    {
        padding: 40px 24px;
    }


    .test .total
    {
        padding: 15px 24px;
    }

    .test .total .exp
    {
        font-size: 14px;

        width: 140px;
    }

    .test .total .value span
    {
        font-size: 32px;
    }


    .test:before
    {
        display: none;
    }


    .test .result .close_btn
    {
        top: 20px;
        right: 20px;
    }

    .test .result .information
    {
        width: 223px;
    }

    .test .result .information .title
    {
        font-size: 22px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .swiper-slide
    {
        width: 100%;
    }

    .articles .swiper-slide + .swiper-slide
    {
        margin-top: 38px;
    }

    .articles .swiper-button-next,
    .articles .swiper-button-prev
    {
        display: none;
    }


    .articles .row > *
    {
        width: 100%;
    }


    .articles .article
    {
        position: relative;
    }

    .articles .article .thumb
    {
        height: 220px;
        padding: 0;
    }

    .articles .article .info
    {
        position: absolute;
        bottom: 13px;
        left: 0;

        width: 100%;
        padding: 13px 16px 14px;

        background: rgba(242, 230, 246, .6);

        backdrop-filter: blur(10px);
    }



    /*-----------------------
        Contraindications
    -----------------------*/
    .contraindications
    {
        font-size: 20px;
    }


    .contraindications span
    {
        font-size: 26px;
        line-height: 90%;
    }



    /*-------------
        Lecture
    -------------*/
    .lecture .sub_title
    {
        font-size: 18px;
    }


    .lecture .video .play_btn .icon
    {
        width: 47px;
        height: 47px;
    }


    .lecture .videos .sub_title
    {
        margin-bottom: 30px;
    }


    .lecture .videos .row
    {
        margin-left: 0;
    }

    .lecture .videos .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*----------------
        Every 10th
    ----------------*/
    .every_10th .data
    {
        margin-right: 0;
        margin-left: 0;
    }


    .every_10th .exp
    {
        padding: 0;
    }



    /*---------------
        Role iron
    ---------------*/
    .role_iron .block_head .title
    {
        font-size: 32px;
    }


    .role_iron .data .desc
    {
        width: 100%;
    }


    .role_iron .text
    {
        width: calc(100% + 30px);
        max-width: calc(100% + 30px);
        margin-right: -15px;
        margin-left: -15px;
        padding: 18px 15px;
    }



    /*----------------------
        Article symptoms
    ----------------------*/
    .article_symptoms .message
    {
        margin-right: 0;
        margin-bottom: 31px;
        padding: 29px 15px 49px;
    }

    .article_symptoms .message .icon
    {
        top: auto;
        right: 0;
        bottom: -34px;
        left: 0;
    }



    /*-------------
        Reasons
    -------------*/
    .reasons .accordion_item .head
    {
        padding-right: 88px;
    }


    .reasons .accordion_item .head .icon
    {
        display: none;
    }


    .reasons .accordion_item .head .title
    {
        width: 100%;
    }



    /*---------------
        Treatment
    ---------------*/
    .treatment .data
    {
        margin-right: -15px;
        margin-left: -15px;
        padding: 15px;
    }



    .treatment .information
    {
        margin-right: -15px;
        margin-left: -15px;
    }

    .treatment .information .title,
    .treatment .information .desc
    {
        padding: 15px;
    }


    .treatment .relieve_effects .row
    {
        width: calc(100% + 30px);
        margin: 0 -15px;
        padding: 0 15px 10px;
    }



    /*----------
        Diet
    ----------*/
    .diet .information
    {
        margin-right: -15px;
        margin-left: -15px;
        padding: 15px 15px 0 15px;
    }


    .diet .information .text_block
    {
        width: calc(100% - 30px);
    }


    .diet .information .exp
    {
        width: calc(100% + 30px);
        max-width: calc(100% + 30px);
        margin-right: -15px;
        margin-left: -15px;
        padding: 15px;
    }



    /*--------------
        Criteria
    --------------*/
    .criteria .key_criteria .row
    {
        width: calc(100% + 30px);
        margin: 0 -15px;
        padding: 0 15px 10px;
    }



    /*------------------
        Why not work
    ------------------*/
    .why_not_work .information
    {
        margin-right: -15px;
        margin-left: -15px;
    }

    .why_not_work .information .title,
    .why_not_work .information .desc
    {
        padding: 15px;
    }



    /*----------------
        Prevention
    ----------------*/
    .prevention .block_head .title
    {
        font-size: 30px;
    }


    .prevention .section
    {
        margin-top: 60px;
    }


    .prevention .exp
    {
        width: calc(100% + 15px);
        max-width: calc(100% + 15px);
        margin-right: -15px;
        padding: 18px 15px 18px 0;
        padding-right: 15px;
    }



    /*----------------
        Story info
    ----------------*/
    .story_info .thumb,
    .story_info .data + .author .thumb
    {
        height: 228px;
    }



    /*-------------
        Stories
    -------------*/
    .stories .item
    {
        padding: 24px 40px 24px 24px;
    }



    /*----------------
        Story data
    ----------------*/
    .story_data .title
    {
        line-height: 115%;
    }



    /*--------------------
        Ferritin about
    --------------------*/
    .ferritin_about .message
    {
        margin-right: 0;
        margin-bottom: 31px;
        padding: 29px 15px 49px;
    }

    .ferritin_about .message .icon
    {
        top: auto;
        right: 0;
        bottom: -34px;
        left: 0;
    }



    /*---------------------
        Ferritin normal
    ---------------------*/
    .ferritin_normal
    {
        padding: 70px 0;
    }


    .ferritin_normal .block_head
    {
        margin-bottom: 50px;
    }

    .ferritin_normal .block_head .desc
    {
        margin-top: 15px;
    }


    .ferritin_normal .values .title
    {
        line-height: 125%;

        margin-bottom: 24px;
    }


    .ferritin_normal .values .swiper-button-next,
    .ferritin_normal .values .swiper-button-prev
    {
        display: none;
    }


    .ferritin_normal .values .row > *
    {
        width: 100%;
    }

    .ferritin_normal .values .row > * + *
    {
        margin-top: 25px;
    }


    .ferritin_normal .values .item
    {
        padding: 25px 20px 20px;
    }



    /*---------------------
        Ferritin causes
    ---------------------*/
    .ferritin_causes .block_head .desc
    {
        margin-top: 15px;
    }



    /*-----------------------
        Ferritin symptoms
    -----------------------*/
    .ferritin_symptoms .block_title
    {
        line-height: 125%;

        margin-bottom: 24px;
    }


    .ferritin_symptoms .row
    {
        margin-bottom: -20px;
        margin-left: 0;
    }

    .ferritin_symptoms .row > *
    {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }


    .ferritin_symptoms .item
    {
        font-size: 15px;
        line-height: 125%;
    }


    .ferritin_symptoms .item .icon img
    {
        width: 50px;
        height: 50px;
    }

    .ferritin_symptoms .item .icon + *
    {
        width: calc(100% - 70px);
    }



    /*-------------------
        Ferritin when
    -------------------*/
    .ferritin_when .information
    {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }



    /*-----------------------
        Treatment methods
    -----------------------*/
    .treatment_methods
    {
        padding: 70px 0;
    }


    .treatment_methods .block_head .desc
    {
        margin-top: 15px;
    }


    .treatment_methods .section
    {
        margin-top: 50px;
    }


    .treatment_methods .block_title
    {
        line-height: 125%;

        margin-bottom: 24px;
    }


    .treatment_methods .information
    {
        margin-right: -15px;
        margin-left: -15px;
        padding: 15px 15px 0 15px;
    }


    .treatment_methods .information .text_block
    {
        width: calc(100% - 30px);
    }


    .treatment_methods .information .exp
    {
        width: calc(100% + 30px);
        max-width: calc(100% + 30px);
        margin-right: -15px;
        margin-left: -15px;
        padding: 15px;
    }



    /*--------------------
        Article author
    --------------------*/
    .article_author .data
    {
        position: relative;
    }


    .article_author .photo
    {
        margin-bottom: 20px;
    }

    .article_author .photo + *
    {
        width: 100%;
    }



    /*------------------
        Bibliography
    ------------------*/
    .bibliography .list
    {
        font-size: 15px;
    }



    /*------------
        Footer
    ------------*/
    footer .logo img
    {
        width: 64px;
    }


    footer .text
    {
        margin-top: 20px;
    }
}
