@media print,
(max-width: 1023px) {

    /*-------------------
        Global styles
    -------------------*/
    :root {
        --font_size: 18px;
        --font_size_title: 30px;
    }


    .block,
    .block.min_m {
        margin-bottom: 80px;
    }

    .block.middle_m {
        margin-bottom: 50px;
    }



    /*--------------
        BG block
    --------------*/
    .bg_block {
        padding: 90px 0;
    }



    /*------------
        Header
    ------------*/
    header {
        padding: 12px 0;
    }



    /*-----------------
        Breadcrumbs
    -----------------*/
    .breadcrumbs {
        padding: 30px 0 0;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head {
        margin-bottom: 40px;
    }


    .block_head .icon.tablet_show {
        display: block;
    }

    .block_head .icon {
        width: 54px;
        margin-right: 25px;
    }

    .block_head .desc {
        margin-top: 20px;
    }



    .block_head .link a {
        font-size: 14px;

        padding: 16px 35px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block {
        line-height: 140%;
    }


    .text_block>* {
        margin-bottom: 24px;
    }

    .text_block.min_offset>* {
        margin-bottom: 12px;
    }


    .text_block ol li {
        padding-left: 68px;
    }


    .text_block ul li {
        padding-left: 25px;
    }

    .text_block ul li:before {
        top: 7px;
    }


    .text_block sup {
        font-size: 10px;
        line-height: 16px;
    }


    .text_block .bg {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .text_block .bg:after {
        width: 30px;
    }

    .text_block .bg span {
        width: 488px;
        max-width: calc(100% - 143px);
    }


    .text_block ul.row {
        margin-bottom: 0;
        margin-left: 0;
    }

    .text_block ul.row li {
        width: 100%;
        margin-bottom: 25px;
        margin-left: 0;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section {
        padding: 100px 0 54px;
    }


    .first_section .title {
        font-size: 36px;
    }


    .first_section .desc {
        font-size: 20px;

        margin-top: 10px;
    }


    .first_section .actions {
        width: 320px;
        max-width: 100%;
        margin-top: 96px;
        margin-bottom: 0;
        margin-left: 0;
    }

    .first_section .actions>*+* {
        margin-top: 14px !important;
    }


    .first_section .actions .item {
        color: #000;
        line-height: 100%;

        display: flex;

        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;

        text-align: left;

        border-radius: 52px;
        background: rgba(242, 230, 246, .6);
        box-shadow: 0 4px 13px rgba(0, 0, 0, .1);

        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        backdrop-filter: blur(10px);
    }


    .first_section .actions .icon {
        width: 48px;
        height: 48px;
        margin: 0;
        padding: 8px;

        border-radius: 50%;
        background: #c997dd;
    }

    .first_section .actions .icon+* {
        width: calc(100% - 66px);
    }

    .first_section .actions br {
        display: none;
    }


    .first_section .bg {
        object-position: 70% 100%;
    }



    /*-------------------
        Why important
    -------------------*/
    .why_important {
        padding: 0 28px;
    }


    .why_important .block_head .icon {
        width: 54px;
    }

    .why_important .block_head .title {
        width: calc(100% - 79px);
    }


    .why_important .data {
        width: 100%;
    }


    .why_important .data .sub_title {
        line-height: 140%;
    }


    .why_important .mob_stats {
        display: block;
    }


    .why_important .data .link a {
        font-size: 14px;

        padding: 16px 35px;
    }


    .why_important .stats {
        display: none;
    }



    /*--------------
        Symptoms
    --------------*/
    .symptoms {
        padding: 80px 28px;
    }


    .symptoms .block_head {
        margin-bottom: 40px;
    }

    .symptoms .block_head .title {
        width: 100%;
    }

    .symptoms .block_head .desc {
        font-size: 20px;
        line-height: 125%;

        width: 545px;
        margin-top: 65px;
    }


    .symptoms .sub_title {
        line-height: 125%;
    }


    .symptoms .row {
        margin-bottom: -40px;
        margin-left: -40px;
    }

    .symptoms .row>* {
        width: calc(50% - 40px);
        margin-bottom: 40px;
        margin-left: 40px;
    }


    .symptoms .item {
        font-size: 17px;
        line-height: 140%;
    }


    .symptoms .item .icon {
        width: 54px;
        height: 54px;
    }

    .symptoms .item .icon+* {
        width: calc(100% - 74px);
    }


    .symptoms .spoler_btn {
        font-size: 14px;

        margin-top: 50px;
    }

    .symptoms .spoler_btn div {
        padding: 0 50px;
    }

    .symptoms .link a {
        font-size: 14px;

        padding: 16px 35px;
    }


    .symptoms .link {
        margin-top: 50px;
    }



    /*---------------
        Influence
    ---------------*/
    .influence .block_head .title {
        width: 299px;
    }


    .influence .swiper {
        padding-bottom: 36px;
    }

    .influence .swiper-slide {
        width: 300px;
    }


    .influence .item .thumb {
        padding-bottom: 260px;
    }


    .influence .item .title {
        display: none;
    }


    .influence .item .info {
        position: relative;

        height: auto;
        padding: 18px 20px 46px;

        pointer-events: auto;

        opacity: 1;
        background: none;
    }

    .influence .item .info .sub_title {
        font-size: 18px;
        line-height: 125%;
    }


    .influence .item .info .desc {
        margin-bottom: 15px;

        -webkit-line-clamp: 0;
    }


    .influence .item .info .link a {
        text-decoration: underline;
    }



    /*-------------
        Deficit
    -------------*/
    .deficit {
        padding: 0 28px;
    }


    .deficit .block_head {
        margin-bottom: 65px;
    }

    .deficit .block_head .title {
        width: 346px;
        margin-right: auto;
    }


    .deficit .data .sub_title {
        line-height: 140%;
    }


    .deficit .data .link a {
        font-size: 14px;

        padding: 16px 35px;
    }


    .deficit .img {
        display: none;
    }



    /*------------
        Yniron
    ------------*/
    .yuniron .data {
        padding: 120px 0 79px;
    }


    .yuniron .info {
        width: 484px;
        padding-right: 0;
    }


    .yuniron .bottom {
        margin-top: 50px;
    }


    .yuniron .test_btn {
        font-size: 14px;

        padding: 9px 35px 9px 36px;
    }


    .yuniron .bg {
        left: -40px;
    }



    .yuniron .hashtag {
        font-size: 36px;

        padding: 35px;
    }



    /*--------------------
        Expert opinion
    --------------------*/
    .expert_opinion .big .doctor {
        width: 100%;
        margin-bottom: 32px;
    }

    .expert_opinion .big .doctor .photo {
        width: 160px;
        height: 160px;
        margin-bottom: 24px;
    }

    .expert_opinion .big .doctor .desc {
        font-size: 14px;

        margin-top: 16px;
    }

    .expert_opinion .big .doctor+* {
        width: 100%;

        order: 3;
    }


    .expert_opinion .big .swiper-button-prev {
        right: 50%;

        margin-right: 120px;
    }

    .expert_opinion .big .swiper-button-next {
        right: 0;
        left: 50%;

        margin-left: 120px;
    }


    .expert_opinion .big .text {
        font-size: 17px;

        width: 100%;
    }


    .expert_opinion .carousel {
        margin-top: 60px;
        padding-bottom: 40px;
    }

    .expert_opinion .carousel .swiper-slide {
        width: 320px;
    }

    .expert_opinion .carousel .swiper-button-prev,
    .expert_opinion .carousel .swiper-button-next {
        display: none;
    }

    .expert_opinion .carousel .swiper-pagination {
        display: flex !important;
    }


    .expert_opinion .item .title {
        margin-bottom: 20px;
    }



    .expert_opinion .sub_title {
        width: 544px;
        margin-bottom: 20px;
    }


    .expert_opinion .video {
        margin-top: 60px;
    }


    .expert_opinion .video .play_btn .icon {
        width: 58px;
        height: 58px;
    }


    .expert_opinion .row {
        margin-top: 60px;
        margin-bottom: -30px;
        margin-left: -20px;
    }

    .expert_opinion .row>* {
        width: calc(33.333% - 20px);
        margin-bottom: 30px;
        margin-left: 20px;
    }


    .expert_opinion .item .desc {
        padding-bottom: 20px;
    }


    .expert_opinion .link a {
        font-size: 14px;

        padding: 16px 35px;
    }



    /*----------------------
        During pregnancy
    ----------------------*/
    .during_pregnancy {
        margin-bottom: 175px;
        padding-top: 58px;
    }


    .during_pregnancy .desc {
        width: 514px;
    }


    .during_pregnancy .articles {
        margin-top: 63px;
        margin-bottom: -124px;
        margin-left: -30px;
    }


    .during_pregnancy .article {
        width: 284px;
        max-width: calc(100% - 30px);
        margin-bottom: 30px;
        margin-left: 30px;
        padding: 22px 20px 24px 20px;
    }

    .during_pregnancy .article .btn {
        font-size: 14px;

        margin-top: 36px;
        padding: 16px 35px;
    }

    .during_pregnancy .article .img {
        right: -50px;
    }


    .during_pregnancy .anemia {
        width: calc(100% - 99px);
        margin-top: 40px;
        margin-left: -24px;
        padding: 20px 24px;
    }

    .during_pregnancy .anemia:after {
        display: none;
    }

    .during_pregnancy .anemia br {
        display: none;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head {
        min-height: 494px;
        padding-top: 46px;
        padding-bottom: 76px;
    }


    .service_head .data {
        width: 430px;
    }

    .service_head .data .desc.middle_w {
        width: 487px;
    }


    .service_head .data .title {
        font-size: 36px;
        line-height: 110%;
    }


    .service_head .data .desc {
        font-size: 20px;
        line-height: 125%;

        width: 320px;
        margin-top: 22px;
    }


    .service_head .data .btn {
        font-size: 14px;

        margin-top: 38px;
        padding: 16px 30px 17px;
    }


    .service_head .anchors {
        font-size: 14px;
        line-height: 125%;

        padding: 24px 0 23px;
    }


    .service_head .anchors .row,
    .service_head .anchors .row.alignleft {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .service_head .anchors .row::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .service_head .anchors .row::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }


    .service_head .anchors .row>*,
    .service_head .anchors .row.alignleft>* {
        display: inline-block;

        max-width: none;
        margin: 0;

        vertical-align: top;
    }

    .service_head .anchors .row>*+*,
    .service_head .anchors .row.alignleft>*+* {
        margin-left: 36px;
    }



    /*-------------
        Why how
    -------------*/
    .why_how {
        padding: 0 28px;
    }


    .why_how .text_block {
        width: 100%;
        max-width: 100%;
    }


    .why_how .info {
        width: 399px;
        margin-top: 40px;
        margin-left: 0;
        padding: 26px 26px 25px;

        box-shadow: inset 0 0 0 2px #fff;
    }


    .why_how .info .icon {
        top: 0;
        right: -40px;
        bottom: 0;
        left: auto;

        width: 73px;
        height: 73px;
        padding: 13px;

        border-width: 6px;
    }


    .why_how .info .title {
        line-height: 140%;
    }


    .why_how .info .btn {
        font-size: 14px;

        margin-top: 16px;
        padding: 16px 30px 17px;
    }



    /*------------------
        Which doctor
    ------------------*/
    .which_doctor .data {
        width: calc(100% + 56px);
        margin-right: -28px;
        margin-left: -28px;
        padding: 80px 56px;
    }


    .which_doctor .block_head {
        width: 413px;
    }



    /*-----------------
        How prepare
    -----------------*/
    .how_prepare {
        padding: 0 28px;
    }


    .how_prepare .text_block {
        width: 100%;
        max-width: 100%;
    }


    .how_prepare .video_link {
        display: flex;

        width: 100%;
        margin-top: 60px;

        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .how_prepare .video_link .thumb {
        width: 280px;
        height: 180px;
        margin: 0;
        padding: 0;
    }

    .how_prepare .video_link .thumb+* {
        width: calc(100% - 310px);
        padding-top: 20px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block {
        padding: 80px 28px;
    }


    .action_block .title {
        font-size: 30px;
        line-height: 115%;

        width: 350px;
    }


    .action_block .test_btn {
        margin-left: auto;
    }



    /*-----------------
        Preparation
    -----------------*/
    .preparation {
        padding: 0 28px;
    }


    .preparation .block_head {
        margin-bottom: 54px;
    }

    .preparation .block_head .desc {
        font-size: 20px;

        width: 100%;
        margin-top: 40px;
    }


    .preparation .row {
        margin-bottom: -35px;
        margin-left: 0;
    }

    .preparation .row>* {
        width: 100%;
        margin-bottom: 35px;
        margin-left: 0;
    }


    .preparation .item .icon {
        width: 54px;
    }

    .preparation .item .icon+* {
        width: calc(100% - 81px);
    }



    /*-------------
        Results
    -------------*/
    .results {
        padding: 80px 0 60px;
    }


    .results .block_head {
        margin-bottom: 52px;
    }


    .results .swiper {
        width: calc(100% + 56px);
        margin-right: -28px;
        margin-left: -28px;
        padding: 0 28px;
    }

    .results .swiper-slide {
        width: 297px;
    }

    .results .swiper-button-next,
    .results .swiper-button-prev {
        display: flex;
    }


    .results .row {
        margin-bottom: 0;
        margin-left: 0;
    }

    .results .row>* {
        width: 297px;
        margin-bottom: 0;
        margin-left: 0;
    }


    .results .item {
        padding: 20px;
    }


    .results .exp {
        margin-top: 20px;
    }



    /*-----------------------
        Treatment control
    -----------------------*/
    .treatment_control {
        padding: 0 28px;
    }


    .treatment_control .text_block {
        width: 100%;
        max-width: 100%;
    }


    .treatment_control .video_link {
        display: flex;

        width: 100%;
        margin-top: 60px;

        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .treatment_control .video_link .thumb {
        width: 280px;
        height: 180px;
        margin: 0;
        padding: 0;
    }

    .treatment_control .video_link .thumb+* {
        width: calc(100% - 310px);
        padding-top: 20px;
    }



    /*----------
        Test
    ----------*/
    .test {
        padding: 80px 28px;
    }


    .test .data {
        width: 100%;
        margin-top: 0;
        margin-bottom: 52px;
        margin-left: 0;
    }


    .test .data .title {
        font-size: 30px;
        line-height: 115%;
    }


    .test .data .desc {
        font-size: 20px;
        line-height: 120%;

        margin-top: 20px;
    }


    .test form {
        width: 100%;
        margin-right: 0;
    }


    .test .question {
        padding: 32px 50px;
    }


    .test .answers {
        padding: 40px 50px;
    }


    .test .btns {
        padding-top: 0;

        border: none;
    }


    .test .total {
        padding: 26px 50px;
    }

    .test .total .exp {
        width: 256px;
    }


    .test:before {
        bottom: -302px;

        margin-left: -624px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .swiper-slide {
        width: 227px;
    }


    .articles .article .thumb {
        margin-bottom: 18px;
    }


    .articles .article .name {
        line-height: 125%;
    }


    .articles .article .desc {
        font-size: 14px;
        line-height: 130%;

        margin-top: 10px;
    }



    /*-----------------------
        Contraindications
    -----------------------*/
    .contraindications {
        font-size: 20px;
    }


    .contraindications span {
        font-size: 37px;
    }



    /*-------------
        Lecture
    -------------*/
    .lecture .block_head {
        margin-bottom: 40px;
    }


    .lecture .sub_title {
        font-size: 20px;
        line-height: 125%;

        width: 544px;
        margin-bottom: 20px;
    }


    .lecture .video {
        margin-top: 60px;
    }

    .lecture .video .play_btn .icon {
        width: 58px;
        height: 58px;
    }


    .lecture .videos {
        margin-top: 60px;
    }

    .lecture .videos .sub_title {
        margin-bottom: 40px;
    }


    .lecture .videos .row {
        margin-bottom: -40px;
        margin-left: -44px;
    }

    .lecture .videos .row>* {
        width: calc(50% - 44px);
        margin-bottom: 40px;
        margin-left: 44px;
    }



    /*----------------
        Every 10th
    ----------------*/
    .every_10th .data {
        background-position: -104px 50%;
    }


    .every_10th .data .title {
        font-size: 24px;

        width: 254px;
        padding: 66px 30px;
    }


    .every_10th .data .desc {
        line-height: 140%;

        width: calc(100% - 264px);
        padding: 30px 30px 30px 54px;
    }

    .every_10th .data .desc sup {
        font-size: 10px;
        line-height: 16px;
    }


    .every_10th .exp {
        line-height: 140%;

        margin-top: 18px;
    }



    /*---------------
        Role iron
    ---------------*/
    .role_iron {
        padding-top: 90px;
        padding-bottom: 90px;
    }


    .role_iron .data {
        width: 490px;
    }


    .role_iron .data .block_head {
        margin-bottom: 15px;
    }


    .role_iron .data .desc {
        font-size: 20px;
    }


    .role_iron .data .exp {
        line-height: 140%;

        margin-top: 60px;
    }


    .role_iron .text {
        font-size: var(--font_size);
        line-height: 140%;

        width: 655px;
        margin-top: 18px;
        margin-right: 0;
        margin-left: -56px;
        padding: 18px 56px;
    }

    .role_iron .text:after {
        display: none;
    }



    /*----------------------
        Article symptoms
    ----------------------*/
    .article_symptoms .block_head {
        width: 603px;
        margin-bottom: 60px;
    }


    .article_symptoms .block_head .desc {
        font-size: 20px;

        margin-top: 15px;
    }

    .article_symptoms .block_head .desc br {
        display: none;
    }


    .article_symptoms .row .items {
        width: 320px;
        max-width: calc(100% - 323px);
    }

    .article_symptoms .row+.items {
        margin-top: 50px;
    }


    .article_symptoms .items .title {
        line-height: 125%;

        margin-bottom: 24px;
    }


    .article_symptoms .message {
        line-height: 140%;

        width: 272px;
        margin-right: 1px;
        padding: 24px 44px;
    }

    .article_symptoms .message .icon {
        top: 0;
        right: -40px;
        bottom: 0;
        left: auto;

        width: 73px;
        height: 72px;
    }


    .article_symptoms .items .row {
        margin-bottom: -24px;
        margin-left: -20px;
    }

    .article_symptoms .items .row>* {
        width: calc(50% - 20px);
        margin-bottom: 24px;
        margin-left: 20px;
    }


    .article_symptoms .items .item {
        line-height: 140%;
    }

    .article_symptoms .items .item .icon {
        width: 50px;
        height: 50px;
    }

    .article_symptoms .items .item .icon+* {
        width: calc(100% - 70px);
    }

    .article_symptoms .items .item sup {
        font-size: 10px;
    }


    .article_symptoms .text_block {
        width: 714px;
        margin-top: 50px;
    }

    .article_symptoms .text_block .bg:after {
        width: 30px;
    }



    /*-------------
        Reasons
    -------------*/
    .reasons {
        padding: 90px 28px;
    }

    .reasons.no_bg {
        padding: 0;
    }


    .reasons .block_head .title.min_w {
        width: 541px;
    }

    .reasons .block_head .desc {
        font-size: 20px;

        width: 490px;
        margin-top: 15px;
    }

    .reasons .block_head .title.min_w+.desc {
        width: 100%;
    }


    .reasons .accordion_item+.accordion_item {
        margin-top: 40px;
    }


    .reasons .accordion_item .head .icon img {
        width: 50px;
        height: 50px;
    }

    .reasons .accordion_item .head .title {
        font-size: 24px;

        width: calc(100% - 70px);
    }


    .reasons .accordion_item .data {
        padding-right: 113px;
        padding-left: 70px;
    }


    .reasons .accordion+.text_block {
        width: 100%;
        margin-top: 60px;
    }



    /*---------------
        Treatment
    ---------------*/
    .treatment .block_head {
        margin-bottom: 60px;
    }


    .treatment .block_head .desc {
        font-size: 20px;

        width: 450px;
        margin-top: 15px;
    }


    .treatment .data {
        padding: 30px;
    }

    .treatment .data .text_block {
        width: 490px;
    }


    .treatment .exp {
        line-height: 140%;

        width: 602px;
        margin-top: 18px;
    }



    .treatment .tableted {
        margin-top: 60px;
    }


    .treatment .tableted .title {
        font-size: 24px;

        margin-bottom: 15px;
    }


    .treatment .tableted .text {
        font-size: 20px;

        width: 660px;
    }



    .treatment .combination {
        margin-top: 40px;
    }

    .treatment .combination .title {
        width: 660px;
        margin-bottom: 18px;
    }


    .treatment .combination ul {
        margin-bottom: -12px;
        margin-left: 0;
    }

    .treatment .combination ul li {
        line-height: 140%;

        width: 100%;
        margin-bottom: 12px;
        margin-left: 0;
        padding-left: 25px;
    }

    .treatment .combination ul li:before {
        top: 8px;
    }



    .treatment .information {
        margin-top: 18px;

        background-position: -208px 50%;
    }

    .treatment .information .title {
        line-height: 140%;

        width: 254px;
        padding: 30px;
    }

    .treatment .information .desc {
        line-height: 140%;

        width: calc(100% - 264px);
        padding: 55px 30px 55px 54px;
    }

    .treatment .information .desc sup {
        font-size: 10px;
        line-height: 16px;
    }



    .treatment .portability {
        margin-top: 40px;
    }


    .treatment .portability .title {
        line-height: 140%;

        margin-bottom: 18px;
    }

    .treatment .portability .title,
    .treatment .portability .text_block {
        width: 660px;
    }



    .treatment .relieve_effects {
        margin-top: 40px;
    }

    .treatment .relieve_effects .title {
        line-height: 140%;

        width: 660px;
        margin-bottom: 18px;
    }



    .treatment .relieve_effects .row {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .treatment .relieve_effects .row>* {
        width: calc(50% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .treatment .relieve_effects .item {
        min-height: 228px;
        padding: 24px;
    }

    .treatment .relieve_effects .item .name {
        margin-bottom: 18px;
    }



    /*----------------------
        Intravenous iron
    ----------------------*/
    .intravenous_iron .block_title {
        font-size: 24px;
        line-height: 125%;
    }

    .intravenous_iron .block_desc {
        font-size: 20px;

        margin-top: 15px;
    }


    .intravenous_iron .data {
        width: 377px;
    }


    .intravenous_iron .notice {
        font-size: 16px;
        line-height: 150%;

        width: 258px;
        height: 258px;
        padding: 12px;
    }


    .intravenous_iron .side_effects {
        width: 660px;
        margin-top: 40px;
    }

    .intravenous_iron .side_effects .title {
        margin-bottom: 18px;
    }



    /*----------
        Diet
    ----------*/
    .diet .block_title {
        font-size: 24px;
    }

    .diet .block_desc {
        font-size: 20px;

        margin-top: 15px;
    }


    .diet .information {
        margin-top: 40px;
        padding: 30px 30px 0;
    }


    .diet .information .text_block {
        width: 500px;
    }


    .diet .information .exp {
        line-height: 140%;

        position: relative;
        right: 0;
        bottom: 0;

        width: calc(100% + 60px);
        max-width: calc(100% + 60px);
        margin-top: 18px;
        margin-right: -30px;
        margin-left: -30px;
        padding: 30px;
    }



    .diet .foods {
        margin-top: 40px;
    }

    .diet .foods .title {
        margin-bottom: 18px;
    }



    /*--------------
        Criteria
    --------------*/
    .criteria .block_title {
        font-size: 24px;
    }


    .criteria .block_desc {
        font-size: 20px;

        width: 547px;
        margin-top: 15px;
    }


    .criteria .key_criteria {
        margin-top: 40px;
    }


    .criteria .key_criteria .title {
        font-size: 20px;

        margin-bottom: 18px;
    }


    .criteria .key_criteria .row {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .criteria .key_criteria .row>* {
        width: calc(50% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .criteria .key_criteria .item {
        padding: 24px;
    }

    .criteria .key_criteria .item .name {
        margin-bottom: 18px;
    }


    .criteria .key_criteria .text_block {
        margin-top: 18px;
    }



    /*------------------
        Why not work
    ------------------*/
    .why_not_work .block_title {
        font-size: 24px;

        margin-bottom: 40px;
    }

    .why_not_work .block_title sup {
        font-size: 14px;
        line-height: 20px;
    }


    .why_not_work .information {
        margin-top: 18px;

        background-position: -164px 50%;
    }

    .why_not_work .information .title {
        line-height: 140%;

        width: 254px;
        padding: 30px;
    }

    .why_not_work .information .desc {
        line-height: 140%;

        width: calc(100% - 264px);
        padding: 42px 30px 42px 54px;
    }

    .why_not_work .information .desc br {
        display: none;
    }


    .why_not_work .information+.text_block {
        margin-top: 18px;
    }



    /*----------------
        Prevention
    ----------------*/
    .prevention {
        padding: 90px 28px;
    }


    .prevention .block_head .title br {
        display: none;
    }


    .prevention .block_title {
        font-size: 24px;
    }

    .prevention .block_desc {
        font-size: 20px;

        width: 547px;
        margin-top: 15px;
    }


    .prevention .text_block {
        width: 660px;
        margin-top: 40px;
    }


    .prevention .section {
        margin-top: 60px;
    }


    .prevention .exp {
        width: calc(100% + 52px);
        max-width: calc(100% + 52px);
        margin-top: 18px;
        margin-right: -52px;
        padding-right: 52px;
    }



    /*----------------
        Story info
    ----------------*/
    .story_info .author {
        width: 304px;
    }

    .story_info .data+.author {
        width: 270px;
        min-height: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }


    .story_info .data+.author .thumb {
        height: 284px;
    }


    .story_info .author .name,
    .story_info .data+.author .name {
        padding: 30px 24px 24px;
    }


    .story_info .data {
        width: calc(100% - 310px);
        max-width: calc(100% - 310px);
        margin-top: 40px;
        margin-bottom: 40px;
        padding-left: 30px;
    }

    .story_info .author+.data {
        width: calc(100% - 364px);
        margin-left: 60px;
    }


    .story_info .title {
        font-size: 36px;
        line-height: 100%;
    }

    .story_info .author+.data .title {
        font-size: 32px;
        line-height: 100%;
    }


    .story_info .desc {
        color: var(--text_color);
        line-height: 140%;

        margin-top: 15px;
    }


    .story_info .link a {
        font-size: 14px;
        line-height: 16px;

        padding: 16px 35px;
    }



    /*-------------
        Stories
    -------------*/
    .stories:after {
        display: none;
    }


    .stories .block_head {
        display: none;
    }


    .stories .row>* {
        width: calc(50% - 30px);
    }

    .stories .row>*:nth-child(6),
    .stories .row>*:nth-child(7),
    .stories .row>*:nth-child(8) {
        display: none;
    }


    .stories .item .name {
        font-size: 20px;
    }



    /*----------------
        Story data
    ----------------*/
    .story_data {
        padding-left: 30px;
    }


    .story_data .section~.section {
        margin-top: 60px;
    }


    .story_data .title {
        font-size: 30px;

        width: 547px;
        margin-bottom: 20px;
    }


    .story_data .text_block {
        width: 547px;
    }


    .story_data .icon {
        top: 358px;

        width: 194px;
        height: 194px;
        margin-right: -608px;
    }

    .story_data .icon img {
        height: 74px;
    }



    /*--------------------
        Ferritin about
    --------------------*/
    .ferritin_about {
        padding: 0 28px;
    }


    .ferritin_about .data {
        width: 100%;
    }

    .ferritin_about .data .sub_title {
        line-height: 140%;
    }


    .ferritin_about .message {
        width: 399px;
        margin-top: 40px;
        margin-left: 0;
        padding: 26px 26px 25px;

        box-shadow: inset 0 0 0 2px #fff;
    }

    .ferritin_about .message .icon {
        top: 0;
        right: -40px;
        bottom: 0;
        left: auto;

        width: 73px;
        height: 73px;
    }

    .ferritin_about .message {
        line-height: 140%;
    }



    /*---------------------
        Ferritin normal
    ---------------------*/
    .ferritin_normal {
        padding: 100px 28px;
    }


    .ferritin_normal .block_head {
        margin-bottom: 60px;
    }

    .ferritin_normal .block_head .desc {
        font-size: 20px;

        width: 490px;
    }


    .ferritin_normal .values .title {
        font-size: 24px;

        margin-bottom: 30px;
    }


    .ferritin_normal .values .swiper {
        width: calc(100% + 56px);
        margin-right: -28px;
        margin-left: -28px;
        padding: 0 28px;
    }

    .ferritin_normal .values .swiper-slide {
        width: 320px;
    }

    .ferritin_normal .values .swiper-button-next,
    .ferritin_normal .values .swiper-button-prev {
        display: flex;
    }


    .ferritin_normal .values .row {
        margin-bottom: 0;
        margin-left: 0;
    }

    .ferritin_normal .values .row>* {
        width: 320px;
        margin-bottom: 0;
        margin-left: 0;
    }


    .ferritin_normal .values .item {
        padding: 20px;
    }


    .ferritin_normal .section {
        margin-top: 60px;
    }

    .ferritin_normal .section .title {
        font-size: 20px;

        margin-bottom: 18px;
    }


    .ferritin_normal .text_block {
        width: 714px;
    }



    /*---------------------
        Ferritin causes
    ---------------------*/
    .ferritin_causes {
        padding: 0 28px;
    }


    .ferritin_causes .block_head {
        margin-bottom: 50px;
    }

    .ferritin_causes .block_head .desc {
        font-size: 20px;

        width: 490px;
    }


    .ferritin_causes .text_block {
        width: 714px;
    }

    .ferritin_causes .text_block ul li+li {
        margin-top: 18px;
    }

    .ferritin_causes .text_block .bg {
        margin-top: 32px;
        margin-bottom: 32px;
    }



    /*-----------------------
        Ferritin symptoms
    -----------------------*/
    .ferritin_symptoms {
        margin-top: 80px;
    }


    .ferritin_symptoms .block_title {
        font-size: 24px;

        margin-bottom: 30px;
    }


    .ferritin_symptoms .row {
        margin-left: -40px;
    }

    .ferritin_symptoms .row>* {
        width: calc(50% - 40px);
        margin-left: 40px;
    }


    .ferritin_symptoms .row+.title {
        margin-top: 60px;
    }


    .ferritin_symptoms .item .icon img {
        width: 54px;
        height: 54px;
    }

    .ferritin_symptoms .item .icon+* {
        width: calc(100% - 74px);
    }


    .ferritin_symptoms .text_block {
        margin-top: 40px;
    }


    .ferritin_symptoms .title {
        font-size: 20px;

        width: 100%;
        margin-bottom: 18px;
    }



    /*-------------------
        Ferritin when
    -------------------*/
    .ferritin_when {
        padding: 0 28px;
    }


    .ferritin_when .block_head {
        margin-bottom: 50px;
    }


    .ferritin_when .information {
        width: calc(100% + 56px);
        margin-right: -28px;
        margin-left: -28px;

        background-position: -192px 50%;
    }


    .ferritin_when .information .title {
        width: 254px;
        padding: 30px;
    }


    .ferritin_when .information .desc {
        line-height: 140%;

        width: calc(100% - 264px);
        padding: 30px 30px 30px 54px;
    }

    .ferritin_when .information .desc sup {
        font-size: 10px;
        line-height: 16px;
    }



    /*-----------------------
        Treatment methods
    -----------------------*/
    .treatment_methods {
        padding: 100px 28px;
    }


    .treatment_methods .block_head .desc {
        font-size: 20px;
    }


    .treatment_methods .section {
        margin-top: 80px;
    }


    .treatment_methods .text_block {
        width: 714px;
    }


    .treatment_methods .information {
        margin-top: 40px;
        padding: 30px 30px 0;
    }


    .treatment_methods .information .text_block {
        width: 500px;
    }


    .treatment_methods .information .exp {
        line-height: 140%;

        position: relative;
        right: 0;
        bottom: 0;

        width: calc(100% + 60px);
        max-width: calc(100% + 60px);
        margin-top: 18px;
        margin-right: -30px;
        margin-left: -30px;
        padding: 30px;
    }


    .treatment_methods .block_title {
        font-size: 24px;

        margin-bottom: 30px;
    }



    /*---------
        FAQ
    ---------*/
    .faq .accordion_item .head .title {
        font-size: 24px;
    }


    .faq .accordion_item .text_block {
        width: 714px;
    }



    /*--------------------
        Article author
    --------------------*/
    .article_author .data {
        padding: 30px;
    }


    .article_author .title {
        font-size: 24px;

        margin-bottom: 18px;
    }



    /*------------------------
        About deficit iron
    ------------------------*/
    .about_deficit_iron .information {
        margin-bottom: 70px;

        background-position: -156px 50%;
    }


    .about_deficit_iron .information .title {
        line-height: 140%;

        width: 254px;
        padding: 30px 41px;
    }

    .about_deficit_iron .information .desc {
        width: calc(100% - 264px);
        padding: 30px 30px 30px 54px;
    }


    .about_deficit_iron .text_block {
        width: 100%;

        order: 2;
    }


    .about_deficit_iron img {
        width: 56px;
        margin-right: 0;
        margin-bottom: 40px;
        margin-left: 0;
    }



    /*-------------------------
        Stages deficit iron
    -------------------------*/
    .stages_deficit_iron .data {
        width: 100%;
    }


    .stages_deficit_iron .block_head {
        margin-bottom: 60px;
    }

    .stages_deficit_iron .block_head .title.min_w {
        width: 660px;
    }

    .stages_deficit_iron .block_head .desc {
        font-size: 18px;

        width: 520px;
        max-width: 100%;
    }


    .stages_deficit_iron .items {
        position: relative;
        top: 0;
        right: 0;

        display: flex;

        width: 100%;
        margin-top: 60px;

        align-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .stages_deficit_iron .items:before {
        display: none;
    }

    .stages_deficit_iron .items>*+* {
        margin-top: 0;
    }


    .stages_deficit_iron .items .item {
        display: flex;

        width: 300px;
        height: 300px;
        padding: 30px;

        text-align: center;

        border-radius: 50%;
        background: #f2e6f7;

        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }


    .stages_deficit_iron .section+.section {
        margin-top: 70px;
    }


    .stages_deficit_iron .stage+.stage {
        margin-top: 70px;
    }


    .stages_deficit_iron .stage .block_title,
    .stages_deficit_iron .stage .block_desc,
    .stages_deficit_iron .stage .block_desc.big_w {
        width: 100%;
    }

    .stages_deficit_iron .stage .block_title {
        font-size: 28px;
    }

    .stages_deficit_iron .stage .block_desc {
        font-size: 20px;
    }


    .stages_deficit_iron .stage .information {
        width: calc(100% + 56px);

        background-position: -92px 0;
    }


    .stages_deficit_iron .stage .information .info {
        line-height: 140%;

        width: 293px;
        padding: 30px 30px 30px 20px;

        align-self: center;
    }

    .stages_deficit_iron .stage .information .info br {
        display: block;
    }


    .stages_deficit_iron .stage .information .features {
        margin-top: 10px;
    }

    .stages_deficit_iron .stage .information .features>* {
        line-height: 130%;
    }

    .stages_deficit_iron .stage .information .features>*+* {
        margin-top: 5px;
    }


    .stages_deficit_iron .stage .information .desc {
        line-height: 140%;

        width: calc(100% - 303px);
        padding: 30px 30px 30px 11px;
    }


    .stages_deficit_iron .stage .information.min_offset {
        background-position: -212px 0;
    }

    .stages_deficit_iron .stage .information.min_offset .info {
        width: 254px;
        padding: 45px 30px;
    }

    .stages_deficit_iron .stage .information.min_offset .desc {
        width: calc(100% - 264px);
        padding: 30px 30px 30px 54px;
    }


    .stages_deficit_iron .stage .text_block {
        width: 100%;
    }

    .stages_deficit_iron .stage .text_block+.text_block {
        margin-top: 60px;
    }


    .stages_deficit_iron .stage .result {
        line-height: 140%;

        width: calc(100% + 56px);
        margin-right: -28px;
        margin-left: -28px;
        padding: 50px 30px;
    }

    .stages_deficit_iron .stage .result .text {
        width: 354px;
    }

    .stages_deficit_iron .stage .result img {
        object-position: 0 50%;
    }


    .stages_deficit_iron .stats {
        width: 100%;
        margin-top: 70px;
    }


    .stages_deficit_iron .stats .data {
        width: 100%;
        margin-left: 0;
    }


    .stages_deficit_iron .stats .data .head {
        padding: 40px 19px 40px 27px;
    }


    .stages_deficit_iron .stats .data .head .title {
        width: 504px;
        max-width: calc(100% - 106px);
    }


    .stages_deficit_iron .stats .data .features {
        padding: 37px 27px;
    }

    .stages_deficit_iron .stats .data .features+.features {
        padding-top: 37px;
    }

    .stages_deficit_iron .stats .data .features>* {
        line-height: 125%;
    }

    .stages_deficit_iron .stats .data .features .label br {
        display: none;
    }


    .stages_deficit_iron .stats .list {
        display: flex;

        width: 100%;
        margin-top: 70px;
        margin-right: 0;

        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
    }


    .stages_deficit_iron .stats .list>* {
        width: 287px;
        max-width: calc(50% - 30px);
    }

    .stages_deficit_iron .stats .list>*+* {
        margin-top: 0;
        margin-left: 60px;
    }


    .stages_deficit_iron .stats .list .exp {
        font-size: 20px;

        margin-top: 5px;
    }

    .stages_deficit_iron .stats .list .desc {
        line-height: 140%;
    }


    .stages_deficit_iron .symptoms .block_head {
        margin-bottom: 40px;
    }

    .stages_deficit_iron .symptoms .block_head .title {
        font-size: 28px;

        width: 100%;
    }

    .stages_deficit_iron .symptoms .block_head .desc {
        font-size: 20px;

        width: 100%;
    }


    .stages_deficit_iron .symptoms .text_block {
        width: 100%;
        margin-top: 40px;
    }



    /*-------------------
        Complications
    -------------------*/
    .complications {
        padding: 80px 0;
    }


    .complications .block_head .desc {
        font-size: 20px;
        line-height: 125%;

        width: 568px;
    }


    .complications .item {
        line-height: 140%;
    }

    .complications .item .name {
        font-size: 20px;
    }

    .complications .item .desc {
        font-size: 17px;
    }



    /*----------------------
        Anemia treatment
    ----------------------*/
    .anemia_treatment .block_head {
        margin-bottom: 75px;
    }

    .anemia_treatment .block_head .desc {
        font-size: 20px;
        line-height: 125%;

        width: 100%;
    }


    .anemia_treatment .information {
        width: calc(100% + 56px);
        margin-right: -28px;
        margin-left: -28px;
        padding: 30px 30px 0;
    }

    .anemia_treatment .information .text_block {
        width: 490px;
    }

    .anemia_treatment .information .exp {
        position: relative;
        right: 0;
        bottom: 0;

        width: calc(100% + 60px);
        max-width: calc(100% + 60px);
        margin-top: 18px;
        margin-right: -30px;
        margin-left: -30px;
        padding: 30px;
    }


    .anemia_treatment .sub_title {
        font-size: 28px;

        width: 100%;
        margin-top: 75px;
        margin-bottom: 88px;
    }


    .anemia_treatment .data {
        width: 100%;
    }


    .anemia_treatment .data+.exp {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 0;
        padding: 30px;
    }


    .anemia_treatment .text_block {
        width: 100%;
        margin-top: 40px;
    }



    /*-----------------------
        Tеreatment causes
    -----------------------*/
    .tеreatment_causes {
        padding: 90px 28px;
    }

    .tеreatment_causes:before {
        top: -68px;

        width: 395px;
        height: 395px;
        margin-right: -693px;
    }


    .tеreatment_causes .block_head {
        margin-bottom: 70px;
    }

    .tеreatment_causes .block_head .desc {
        font-size: 20px;
        line-height: 125%;

        width: 100%;
    }


    .tеreatment_causes .sub_title {
        font-size: 20px;

        width: 100%;
    }



    /*------------------
        Prevention 2
    ------------------*/
    .prevention2 .block_head {
        margin-bottom: 20px;
    }

    .prevention2 .block_head .desc {
        font-size: 20px;
        line-height: 140%;

        width: 480px;
    }


    .prevention2 .mob_notice {
        display: block;
    }


    .prevention2 .data {
        width: 100%;
    }


    .prevention2 .notice {
        display: none;
    }


    .prevention2 .text_block {
        width: 100%;
    }



    /*------------------
        Symptom info
    ------------------*/
    .symptom_info .block_head {
        width: 100%;
    }

    .symptom_info .block_head .desc {
        font-size: 20px;
        line-height: 140%;
    }



    /*--------------------
        Iron pregnancy
    --------------------*/
    .iron_pregnancy .information {
        background-position: -104px 50%;
    }


    .iron_pregnancy .information .title {
        line-height: 140%;

        width: 254px;
        padding: 30px;
    }

    .iron_pregnancy .information .desc {
        width: calc(100% - 264px);
        padding: 30px 30px 30px 50px;
    }


    .iron_pregnancy .text_block {
        width: 100%;
    }



    /*----------------
        Hemoglobin
    ----------------*/
    .hemoglobin {
        padding: 90px 28px;
    }


    .hemoglobin .block_head {
        width: 100%;
        margin-bottom: 60px;
    }

    .hemoglobin .block_head .desc {
        font-size: 20px;
        line-height: 140%;
    }


    .hemoglobin .schema .title {
        font-size: 28px;
    }

    .hemoglobin .schema .data,
    .hemoglobin .schema .image {
        width: 100%;
    }

    .hemoglobin .schema .image {
        margin-top: 40px;
    }


    .hemoglobin .schema+.text_block {
        margin-top: 80px;
    }


    .hemoglobin .text_block {
        width: 100%;
        max-width: 100%;
    }



    /*-----------------
        What danger
    -----------------*/
    .what_danger .section+.section {
        margin-top: 80px;
    }


    .what_danger .block_head {
        width: 100%;
        margin-bottom: 60px;
    }

    .what_danger .block_head .desc {
        font-size: 20px;
        line-height: 140%;
    }


    .what_danger .row .text_block {
        width: calc(100% - 300px);
    }

    .what_danger .row+.text_block {
        margin-top: 60px;
    }


    .what_danger .message {
        line-height: 140%;

        width: 272px;
        margin-right: 1px;
        padding: 24px 44px;
    }

    .what_danger .message .icon {
        top: 0;
        right: -40px;
        bottom: 0;
        left: auto;

        width: 73px;
        height: 72px;
    }


    .what_danger .text_block ul.row {
        margin-left: -40px;
    }

    .what_danger .text_block ul.row li {
        width: calc(50% - 40px);
        margin-left: 40px;
    }


    .what_danger .notice {
        margin-top: 28px;
        padding: 60px 50px;
    }

    .what_danger .notice .text_block {
        width: 440px;
    }


    .what_danger .section>.title {
        font-size: 28px;

        width: 100%;
        margin-bottom: 32px;
    }

    .what_danger .section>.desc {
        font-size: 20px;

        width: 100%;
        margin-bottom: 40px;
    }



    /*--------------------
        Iron diagnosis
    --------------------*/
    .iron_diagnosis .block_title {
        font-size: 28px;
    }

    .iron_diagnosis .block_desc {
        font-size: 20px;

        width: 100%;
        margin-top: 32px;
    }


    .iron_diagnosis .accordion {
        margin-top: 60px;
    }


    .iron_diagnosis .accordion_item+.accordion_item {
        margin-top: 40px;
    }


    .iron_diagnosis .accordion_item>.head .icon img {
        width: 50px;
        height: 50px;
    }

    .iron_diagnosis .accordion_item>.head .title {
        font-size: 24px;

        width: calc(100% - 70px);
    }

    .iron_diagnosis .accordion_item>.data {
        padding-left: 70px;
    }


    .iron_diagnosis .stats .head,
    .iron_diagnosis .stats .features {
        padding: 24px 32px;
    }

    .iron_diagnosis .stats .features>*+* {
        margin-top: 20px;
    }

    .iron_diagnosis .stats .features>* {
        line-height: 125%;
    }

    .iron_diagnosis .stats .features .label br {
        display: none;
    }


    .iron_diagnosis .information {
        margin-top: 40px;
        padding: 30px 30px 0;
    }

    .iron_diagnosis .information .text_block {
        width: 500px;
    }

    .iron_diagnosis .information .exp {
        line-height: 140%;

        position: relative;
        top: 0;
        right: 0;

        width: calc(100% + 60px);
        max-width: calc(100% + 60px);
        margin-top: 30px;
        margin-right: -30px;
        margin-left: -30px;
        padding: 30px;
    }



    .iron_diagnosis .hepcidin,
    .iron_diagnosis .hepcidin .section+.section {
        margin-top: 80px;
    }


    .iron_diagnosis .hepcidin .text_block {
        width: 100%;
    }



    .iron_diagnosis .compensation .block_title {
        font-size: 28px;

        margin-bottom: 32px;
    }

    .iron_diagnosis .compensation .block_desc {
        width: 100%;
        margin-bottom: 60px;
    }



    .iron_diagnosis .table_title {
        font-size: 20px;

        margin-bottom: 60px;
    }


    .iron_diagnosis .table_wrap {
        width: calc(100% + 112px);
        max-width: calc(100% + 112px);
        margin-right: -56px;
        margin-left: -56px;
        padding: 0 56px;
        padding-bottom: 10px;
    }

    .iron_diagnosis table {
        width: 904px;
    }



    /*------------------------
        What danger excess
    ------------------------*/
    .what_danger_excess {
        padding: 90px 28px;
    }


    .what_danger_excess .block_head {
        margin-bottom: 60px;
    }

    .what_danger_excess .block_head .desc {
        font-size: 20px;

        width: 100%;
    }



    /*------------
        Footer
    ------------*/
    footer .text {
        width: 100%;
        margin-top: 30px;

        order: 2;
    }
}