@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 30px;
    }


    .block,
    .block.min_m,
    .block.middle_m
    {
        margin-bottom: 70px;
    }



    /*---------------
        Load more
    ---------------*/
    .load_more
    {
        margin-top: 40px;
    }


    .load_more .btn
    {
        font-size: 14px;

        padding: 14px 32px;
    }



    /*--------------
        BG block
    --------------*/
    .bg_block
    {
        padding: 70px 0;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 14px 0;
    }



    header .logo img
    {
        width: 80px;
    }



    header .test_btn
    {
        font-size: 12px;
        line-height: 15px;

        padding: 14px 21px;

        box-shadow: 0 8px 19px rgba(148, 110, 163, .53);
    }

    header .test_btn .icon
    {
        display: none;
    }



    header .menu_btn
    {
        margin-left: 29px;
    }



    /*-----------------
        Breadcrumbs
    -----------------*/
    .breadcrumbs
    {
        padding: 33px 0;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 30px;
    }


    .block_head .desc
    {
        margin-top: 20px;
    }


    .block_head .icon
    {
        width: 42px;
        margin-right: 20px;
    }


    .block_head .link
    {
        display: none;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        line-height: 130%;
    }


    .text_block h3
    {
        font-size: 28px;
    }

    .text_block h4
    {
        font-size: 20px;
    }

    .text_block h4 br
    {
        display: none;
    }


    .text_block * + h3
    {
        margin-top: 60px;
    }


    .text_block ol li
    {
        padding-left: 68px;
    }


    .text_block ul li:before
    {
        top: 6px;
    }


    .text_block .bg span
    {
        width: 100%;
        max-width: calc(100% - 72px);
    }

    .text_block .bg .icon
    {
        width: 42px;
        margin-right: 0;
    }


    .text_block .signs .row
    {
        margin-left: 0;
    }

    .text_block .signs .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .text_block .signs .name
    {
        margin-bottom: 20px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding: 52px 0 34px;
    }


    .first_section .title
    {
        font-size: 30px;
    }


    .first_section .desc
    {
        font-size: 18px;
    }


    .first_section .actions
    {
        width: 299px;
        margin-top: 30px;
    }


    .first_section .actions .icon
    {
        width: 44px;
        height: 44px;
    }

    .first_section .actions .icon + *
    {
        width: calc(100% - 54px);
    }


    .first_section .bg
    {
        object-position: 70% 100%;
    }



    /*-------------------
        Why important
    -------------------*/
    .why_important
    {
        padding: 0;
    }


    .why_important .block_head .icon
    {
        width: 42px;
    }

    .why_important .block_head .title
    {
        width: calc(100% - 62px);
    }


    .why_important .data .link a
    {
        padding: 14px 40px;
    }


    .why_important .mob_stats
    {
        padding: 10px 20px;
    }



    /*--------------
        Symptoms
    --------------*/
    .symptoms
    {
        padding: 80px 0;
    }


    .symptoms .block_head .title
    {
        width: 255px;
    }

    .symptoms .block_head .desc
    {
        font-size: 18px;

        width: 408px;
        margin-top: 40px;
    }


    .symptoms .sub_title
    {
        font-size: 20px;
        line-height: 125%;

        margin-bottom: 24px;
    }


    .symptoms .row
    {
        margin-bottom: -30px;
        margin-left: -22px;
    }

    .symptoms .row > *
    {
        width: calc(50% - 22px);
        margin-bottom: 30px;
        margin-left: 22px;
    }


    .symptoms .item
    {
        font-size: 15px;
        line-height: 125%;
    }


    .symptoms .item .icon
    {
        width: 42px;
        height: 42px;
    }

    .symptoms .item .icon + *
    {
        width: calc(100% - 52px);
    }


    .symptoms .spoler_btn div
    {
        padding: 0 40px;
    }


    .symptoms .link a
    {
        font-size: 14px;

        padding: 14px 40px;
    }



    /*---------------
        Influence
    ---------------*/
    .influence .swiper-slide
    {
        width: 290px;
    }


    .influence .item .thumb
    {
        padding-bottom: 260px;
    }


    .influence .item .title
    {
        padding: 31px 20px 34px;
    }


    .influence .item .info .desc
    {
        display: -webkit-box;
        overflow-y: hidden;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
    }


    .influence .mob_link
    {
        display: block;
    }



    /*-------------
        Deficit
    -------------*/
    .deficit
    {
        padding: 0;
    }


    .deficit .block_head
    {
        margin-bottom: 44px;
    }


    .deficit .data .link a
    {
        font-size: 14px;

        padding: 14px 40px;
    }



    /*------------
        Yniron
    ------------*/
    .yuniron .data
    {
        padding: 56px 9px 39px;
    }


    .yuniron .info
    {
        width: 320px;
    }


    .yuniron .bottom
    {
        margin-top: 32px;
    }


    .yuniron .test_btn
    {
        padding: 7px 20px 7px 15px;
    }


    .yuniron .exp
    {
        font-size: 12px;

        margin-left: 22px;
    }


    .yuniron .bg
    {
        left: 0;
    }



    .yuniron .hashtag
    {
        font-size: 30px;

        padding: 30px;
    }



    /*--------------------
        Expert opinion
    --------------------*/
    .expert_opinion .big .doctor
    {
        margin-bottom: 24px;
    }

    .expert_opinion .big .text
    {
        font-size: 16px;
    }


    .expert_opinion .sub_title
    {
        font-size: 20px;
        line-height: 125%;

        width: 100%;
    }


    .expert_opinion .video
    {
        margin-top: 50px;
    }


    .expert_opinion .row
    {
        margin-top: 50px;
        margin-bottom: -50px;
        margin-left: 0;
    }

    .expert_opinion .row > *
    {
        width: 100%;
        margin-bottom: 50px;
        margin-left: 0;
    }

    .expert_opinion .row .item
    {
        height: auto !important;
    }


    .expert_opinion .item .desc
    {
        margin-bottom: 20px;
    }


    .expert_opinion .link a
    {
        padding: 14px 40px;
    }



    /*----------------------
        During pregnancy
    ----------------------*/
    .during_pregnancy
    {
        margin-bottom: 117px;
        padding-top: 85px;
    }


    .during_pregnancy .desc
    {
        width: 100%;
    }


    .during_pregnancy .articles
    {
        margin-top: 40px;
        margin-bottom: -55px;
        margin-left: -20px;
    }


    .during_pregnancy .article
    {
        width: calc(50% - 20px);
        max-width: calc(100% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
        padding: 30px 20px;
    }

    .during_pregnancy .article .title
    {
        font-size: 16px;
    }

    .during_pregnancy .article .btn
    {
        margin-top: 30px;
        padding: 10px 40px;
    }

    .during_pregnancy .article .img
    {
        right: -10px;
    }


    .during_pregnancy .anemia
    {
        width: 100%;
        margin-left: 0;
        padding: 16px 20px;
    }


    .during_pregnancy .bg
    {
        display: none;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        overflow: visible;

        min-height: 428px;
        margin-bottom: 120px;
        padding-top: 60px;
        padding-bottom: 150px;
    }


    .service_head .breadcrumbs
    {
        top: 100%;
    }


    .service_head .data,
    .service_head .data.tablet_big,
    .service_head .data .desc.middle_w
    {
        width: 356px;
    }


    .service_head .data .title
    {
        font-size: 30px;
    }


    .service_head .data .desc
    {
        font-size: 18px;
        line-height: 110%;

        width: 288px;
        margin-top: 17px;
    }


    .service_head .data .btn
    {
        font-size: 14px;

        margin-top: 34px;
        padding: 14px 30px 15px;

        box-shadow: 0 18px 27px rgba(188, 157, 198, .28);
    }


    .service_head .anchors
    {
        padding: 25px 0;
    }


    .service_head .anchors .row,
    .service_head .anchors .row.alignleft
    {
        display: flex;
        overflow: visible;

        width: 100%;
        margin: 0 0 -20px -20px;
        padding: 0;

        white-space: normal;
    }


    .service_head .anchors .row > *,
    .service_head .anchors .row.alignleft > *
    {
        display: block;

        width: calc(50% - 20px);
        margin-bottom: 20px !important;
        margin-left: 20px !important;
    }

    .service_head .anchors .row > * + *,
    .service_head .anchors .row.alignleft > * + *
    {
        margin-left: 20px !important;
    }


    .service_head .anchors .btn
    {
        font-size: 14px;
        line-height: 125%;
    }



    /*-------------
        Why how
    -------------*/
    .why_how
    {
        padding: 0;
    }


    .why_how .info
    {
        margin-top: 30px;
    }



    /*------------------
        Which doctor
    ------------------*/
    .which_doctor .data
    {
        width: calc(100% + 64px);
        margin-right: -32px;
        margin-left: -32px;
        padding: 70px 32px;
    }


    .which_doctor .block_head
    {
        width: 290px;
    }


    .which_doctor .bg
    {
        left: -60px;

        display: none;

        min-width: 200px;
    }

    .which_doctor .mob_bg
    {
        display: block;
    }



    /*-----------------
        How prepare
    -----------------*/
    .how_prepare
    {
        padding: 0;
    }


    .how_prepare .video_link
    {
        margin-top: 34px;
    }


    .how_prepare .video_link .thumb
    {
        width: 213px;
        height: 137px;
    }


    .how_prepare .video_link .thumb .icon
    {
        width: 47px;
        height: 47px;
    }

    .how_prepare .video_link .thumb .icon:after
    {
        left: 4px;

        width: 20px;
        height: 22px;

        border-top-width: 11px;
        border-bottom-width: 11px;
        border-left-width: 20px;
    }


    .how_prepare .video_link .thumb + *
    {
        width: calc(100% - 233px);
        padding-top: 10px;
    }


    .how_prepare .video_link .title
    {
        font-size: 16px;
    }

    .how_prepare .video_link .author
    {
        font-size: 14px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 40px 0;
    }


    .action_block .title
    {
        font-size: 25px;
        line-height: 125%;

        width: 305px;
    }


    .action_block .test_btn
    {
        font-size: 12px;
        line-height: 125%;

        padding: 14px 21px 15px;
    }

    .action_block .test_btn .icon
    {
        display: none;
    }



    /*-----------------
        Preparation
    -----------------*/
    .preparation
    {
        padding: 0;
    }


    .preparation .block_head
    {
        margin-bottom: 30px;
    }

    .preparation .block_head .desc
    {
        font-size: 18px;
        line-height: 125%;

        margin-top: 30px;
    }


    .preparation .row
    {
        margin-bottom: -30px;
    }

    .preparation .row > *
    {
        margin-bottom: 30px;
    }


    .preparation .item
    {
        font-size: 16px;
        line-height: 140%;
    }


    .preparation .item .icon
    {
        width: 42px;
    }

    .preparation .item .icon + *
    {
        width: calc(100% - 62px);
    }



    /*-------------
        Results
    -------------*/
    .results
    {
        padding: 70px 0 50px;
    }


    .results .block_head
    {
        margin-bottom: 37px;
    }

    .results .block_head .title
    {
        font-size: 25px;
    }


    .results .swiper
    {
        width: calc(100% + 64px);
        margin-right: -32px;
        margin-left: -32px;
        padding: 0 32px;
    }

    .results .swiper-slide
    {
        width: 260px;
    }

    .results .swiper-button-next,
    .results .swiper-button-prev
    {
        display: none !important;
    }


    .results .item
    {
        padding: 30px 20px 25px;
    }


    .results .item .name
    {
        font-size: 16px;
        line-height: 130%;

        margin-bottom: 20px;
    }

    .results .item .name span
    {
        width: calc(100% - 44px);
    }

    .results .item .icon
    {
        width: 24px;
        height: 35px;
    }


    .results .item .features > *
    {
        font-size: 14px;
    }

    .results .item .features > * + *
    {
        margin-top: 4px;
    }

    .results .item .features .val
    {
        font-size: 16px;
    }


    .results .exp
    {
        font-size: 12px;
        line-height: 120%;

        padding: 0;
    }



    /*-----------------------
        Treatment control
    -----------------------*/
    .treatment_control
    {
        padding: 0;
    }


    .treatment_control .text_block
    {
        width: 100%;
        max-width: 100%;
    }


    .treatment_control .video_link
    {
        margin-top: 34px;
    }


    .treatment_control .video_link .thumb
    {
        width: 213px;
        height: 137px;
    }


    .treatment_control .video_link .thumb .icon
    {
        width: 47px;
        height: 47px;
    }

    .treatment_control .video_link .thumb .icon:after
    {
        left: 4px;

        width: 20px;
        height: 22px;

        border-top-width: 11px;
        border-bottom-width: 11px;
        border-left-width: 20px;
    }


    .treatment_control .video_link .thumb + *
    {
        width: calc(100% - 233px);
        padding-top: 10px;
    }


    .treatment_control .video_link .title
    {
        font-size: 16px;
    }

    .treatment_control .video_link .author
    {
        font-size: 14px;
    }



    /*----------
        Test
    ----------*/
    .test
    {
        padding: 70px 0;
    }


    .test .data
    {
        margin-bottom: 45px;
        padding: 0 28px;
    }


    .test .data .pre_title
    {
        font-size: 12px;
        line-height: 24px;

        margin-bottom: 0;
    }


    .test .data .title
    {
        font-size: 25px;
        line-height: 125%;

        width: 250px;
        max-width: 100%;
    }


    .test .data .desc
    {
        font-size: 17px;
        line-height: 130%;
    }


    .test .question
    {
        padding: 32px 35px;
    }


    .test .answers
    {
        padding: 40px 45px;
    }

    .test .answers .field + .field
    {
        margin-top: 18px;
    }


    .test .total
    {
        padding: 26px 35px;
    }


    .test:before
    {
        top: -58px;
        right: 50%;
        bottom: auto;
        left: auto;

        width: 211px;
        height: 210px;
        margin-right: -365px;
        margin-left: 0;
    }


    .test .result .information
    {
        width: 263px;
    }

    .test .result .information .title
    {
        font-size: 25px;
    }

    .test .result .information .btn
    {
        display: none;
    }

    .test .result .information .mob_btn
    {
        display: inline-block;
    }



    /*--------------
        Articles
    --------------*/
    .articles .swiper-slide
    {
        width: 229px;
    }



    /*-----------------------
        Contraindications
    -----------------------*/
    .contraindications
    {
        font-size: 13px;
        line-height: 102%;
    }


    .contraindications span
    {
        font-size: 24px;
        line-height: 90%;
    }



    /*-------------
        Lecture
    -------------*/
    .lecture
    {
        padding: 80px 0;
    }


    .lecture .videos .row
    {
        margin-left: -24px;
    }

    .lecture .videos .row > *
    {
        width: calc(50% - 24px);
        margin-left: 24px;
    }


    .lecture .video_link .thumb .icon
    {
        width: 47px;
        height: 47px;
    }

    .lecture .video_link .thumb .icon:after
    {
        left: 4px;

        width: 20px;
        height: 22px;

        border-top-width: 11px;
        border-bottom-width: 11px;
        border-left-width: 20px;
    }



    /*----------------
        Every 10th
    ----------------*/
    .every_10th .data
    {
        margin-right: -15px;
        margin-left: -15px;

        background: none;
    }


    .every_10th .data .title
    {
        width: 100%;
        padding: 24px;

        text-align: center;

        background: #792582;
    }


    .every_10th .data .desc
    {
        width: 100%;
        padding: 24px;

        background: #a67db6;
    }

    .every_10th .data .desc sup
    {
        font-size: 10px;
        line-height: 16px;
    }


    .every_10th .exp
    {
        padding: 0 15px;
    }



    /*---------------
        Role iron
    ---------------*/
    .role_iron
    {
        padding-top: 70px;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }


    .role_iron .data
    {
        width: 100%;
    }


    .role_iron .data .block_head
    {
        margin-bottom: 15px;
    }

    .role_iron .data .desc
    {
        width: 397px;
    }


    .role_iron .text
    {
        width: calc(100% + 60px);
        max-width: calc(100% + 60px);
        margin-top: 18px;
        margin-right: -30px;
        margin-left: -30px;
        padding: 18px 30px;
    }



    /*----------------------
        Article symptoms
    ----------------------*/
    .article_symptoms
    {
        padding: 0;
    }


    .article_symptoms .block_head
    {
        width: 100%;
    }


    .article_symptoms .row .items
    {
        width: 100%;
        max-width: 100%;
    }


    .article_symptoms .message
    {
        width: 100%;
        margin-top: 40px;
        margin-right: 31px;
    }


    .article_symptoms .items .row
    {
        margin-bottom: -18px;
        margin-left: 0;
    }

    .article_symptoms .items .row > *
    {
        width: 100%;
        margin-bottom: 18px;
        margin-left: 0;
    }


    .article_symptoms .text_block
    {
        width: 100%;
        margin-top: 40px;
    }



    /*-------------
        Reasons
    -------------*/
    .reasons
    {
        padding: 70px 0;
    }


    .reasons .block_head .desc
    {
        font-size: 18px;

        width: 100%;
    }


    .reasons .accordion_item .head .title span
    {
        line-height: 140%;
    }


    .reasons .accordion_item .data
    {
        padding-top: 20px;
        padding-right: 0;
        padding-left: 70px;
    }



    /*---------------
        Treatment
    ---------------*/
    .treatment
    {
        padding-right: 0;
        padding-left: 0;
    }


    .treatment .block_head .desc
    {
        font-size: 20px;

        width: 100%;
        margin-top: 15px;
    }


    .treatment .data
    {
        margin-right: -30px;
        margin-left: -30px;
    }

    .treatment .data .text_block
    {
        width: 100%;
    }



    .treatment .information
    {
        margin-right: -30px;
        margin-left: -30px;

        background: none;
    }

    .treatment .information .title
    {
        width: 100%;
        padding: 24px;

        background: #792582;
    }

    .treatment .information .desc
    {
        width: 100%;
        padding: 24px;

        background: #a67db6;
    }

    .treatment .information .desc sup
    {
        font-size: 10px;
        line-height: 16px;
    }


    .treatment .relieve_effects .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 60px);
        margin: 0 -30px;
        padding: 0 30px 10px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .treatment .relieve_effects .row::-webkit-scrollbar
    {
        width: 6px !important;
        height: 6px !important;

        background-color: #ede2ff !important;
    }

    .treatment .relieve_effects .row::-webkit-scrollbar-thumb
    {
        background-color: #a67db6 !important;
    }


    .treatment .relieve_effects .row > *
    {
        display: inline-block;

        width: 300px;
        max-width: none;
        margin: 0;

        vertical-align: top;
        white-space: normal;
    }

    .treatment .relieve_effects .row > * + *
    {
        margin-left: 16px;
    }


    .treatment .relieve_effects .item
    {
        min-height: 280px;
    }



    /*----------------------
        Intravenous iron
    ----------------------*/
    .intravenous_iron
    {
        padding: 0;
    }


    .intravenous_iron .data
    {
        width: 100%;
    }


    .intravenous_iron .notice
    {
        margin-top: 18px;
        margin-left: 0;
    }


    .intravenous_iron .side_effects
    {
        width: 100%;
    }



    /*----------
        Diet
    ----------*/
    .diet
    {
        padding: 0;
    }


    .diet .information
    {
        margin-right: -30px;
        margin-left: -30px;
    }


    .diet .information .text_block
    {
        width: calc(100% - 60px);
    }



    /*--------------
        Criteria
    --------------*/
    .criteria
    {
        padding: 0;
    }


    .criteria .block_desc
    {
        width: 100%;
    }


    .criteria .key_criteria
    {
        margin-top: 40px;
    }


    .criteria .key_criteria .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 60px);
        margin: 0 -30px;
        padding: 0 30px 10px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .criteria .key_criteria .row::-webkit-scrollbar
    {
        width: 6px !important;
        height: 6px !important;

        background-color: #ede2ff !important;
    }

    .criteria .key_criteria .row::-webkit-scrollbar-thumb
    {
        background-color: #a67db6 !important;
    }


    .criteria .key_criteria .row > *
    {
        display: inline-block;

        width: 300px;
        max-width: none;
        margin: 0;

        vertical-align: top;
        white-space: normal;
    }

    .criteria .key_criteria .row > * + *
    {
        margin-left: 16px;
    }


    .criteria .key_criteria .item
    {
        min-height: 300px;
    }



    /*------------------
        Why not work
    ------------------*/
    .why_not_work
    {
        padding: 0;
    }


    .why_not_work .information
    {
        margin-right: -30px;
        margin-left: -30px;

        background: none;
    }

    .why_not_work .information .title
    {
        width: 100%;
        padding: 24px;

        background: #792582;
    }

    .why_not_work .information .desc
    {
        width: 100%;
        padding: 24px;

        background: #a67db6;
    }



    /*----------------
        Prevention
    ----------------*/
    .prevention
    {
        padding: 70px 0;
    }


    .prevention .block_desc
    {
        width: 100%;
    }


    .prevention .section
    {
        margin-top: 100px;
    }


    .prevention .exp
    {
        width: calc(100% + 30px);
        max-width: calc(100% + 30px);
        margin-right: -30px;
        padding: 18px 30px 18px 0;
        padding-right: 30px;
    }



    /*----------------
        Story info
    ----------------*/
    .story_info .breadcrumbs
    {
        margin-bottom: 0;
    }


    .story_info .author
    {
        width: 100%;
    }

    .story_info .data + .author,
    .story_info .author + .data
    {
        width: 100%;
        margin: 0;
    }

    .story_info .author + .data
    {
        margin-top: 40px;
    }


    .story_info .author .name
    {
        padding: 15px;
    }

    .story_info .data + .author .name
    {
        padding: 24px;
    }


    .story_info .data
    {
        width: 100%;
        max-width: 100%;
        margin-top: 40px;
        margin-bottom: 0;
        margin-left: 0;
        padding: 0;

        order: 2;
    }

    .story_info .title
    {
        font-size: 30px;

        width: 100%;
    }



    /*-------------
        Stories
    -------------*/
    .stories .row
    {
        margin-left: 0;
    }

    .stories .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*----------------
        Story data
    ----------------*/
    .story_data
    {
        padding-left: 0;
    }


    .story_data .title
    {
        width: 100%;
    }


    .story_data .text_block
    {
        width: 100%;
    }


    .story_data .icon
    {
        position: relative;
        top: 0;
        right: 0;

        width: 200px;
        height: 200px;
        margin: 60px auto;
    }

    .story_data .icon img
    {
        height: 86px;
    }



    /*--------------------
        Ferritin about
    --------------------*/
    .ferritin_about
    {
        padding: 0;
    }


    .ferritin_about .message
    {
        margin-top: 30px;
    }



    /*---------------------
        Ferritin normal
    ---------------------*/
    .ferritin_normal
    {
        padding: 80px 0;
    }


    .ferritin_normal .block_head
    {
        margin-bottom: 50px;
    }

    .ferritin_normal .block_head .desc
    {
        font-size: 18px;

        width: 408px;
        margin-top: 40px;
    }



    /*---------------------
        Ferritin causes
    ---------------------*/
    .ferritin_causes
    {
        padding: 0;
    }


    .ferritin_causes .block_head
    {
        margin-bottom: 50px;
    }

    .ferritin_causes .block_head .desc
    {
        font-size: 18px;

        width: 408px;
        margin-top: 40px;
    }


    .ferritin_causes .text_block .bg
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }



    /*-----------------------
        Ferritin symptoms
    -----------------------*/
    .ferritin_symptoms
    {
        margin-top: 80px;
    }


    .ferritin_symptoms .block_title
    {
        font-size: 24px;

        margin-bottom: 30px;
    }


    .ferritin_symptoms .row
    {
        margin-bottom: -20px;
        margin-left: -22px;
    }

    .ferritin_symptoms .row > *
    {
        width: calc(50% - 22px);
        margin-bottom: 20px;
        margin-left: 22px;
    }


    .ferritin_symptoms .item
    {
        font-size: 15px;
        line-height: 125%;
    }


    .ferritin_symptoms .item .icon img
    {
        width: 42px;
        height: 42px;
    }

    .ferritin_symptoms .item .icon + *
    {
        width: calc(100% - 52px);
    }


    .ferritin_symptoms .item sup
    {
        font-size: 8px;
        line-height: 14px;
    }



    /*-------------------
        Ferritin when
    -------------------*/
    .ferritin_when
    {
        padding: 0;
    }


    .ferritin_when .information
    {
        width: calc(100% + 30px);
        margin-top: 40px;
        margin-right: -15px;
        margin-left: -15px;

        background: none;
    }


    .ferritin_when .information .title
    {
        width: 100%;
        padding: 24px;

        text-align: center;

        background: #792582;
    }


    .ferritin_when .information .desc
    {
        width: 100%;
        padding: 24px;

        background: #a67db6;
    }

    .ferritin_when .information .desc sup
    {
        font-size: 10px;
        line-height: 16px;
    }



    /*-----------------------
        Treatment methods
    -----------------------*/
    .treatment_methods
    {
        padding: 80px 0;
    }


    .treatment_methods .block_head .desc
    {
        font-size: 18px;

        width: 408px;
        max-width: 100%;
        margin-top: 40px;
    }


    .treatment_methods .section
    {
        margin-top: 60px;
    }


    .treatment_methods .information
    {
        margin-top: 30px;
        margin-right: -30px;
        margin-left: -30px;
    }

    .treatment_methods .information .text_block
    {
        width: calc(100% - 60px);
    }



    /*---------
        FAQ
    ---------*/
    .faq .accordion_item + .accordion_item
    {
        margin-top: 30px;
    }


    .faq .accordion_item .head .title
    {
        font-size: 20px;
    }


    .faq .accordion_item .data
    {
        padding-right: 0;
    }

    .faq .accordion_item .text_block
    {
        width: 100%;
    }



    /*--------------------
        Article author
    --------------------*/
    .article_author .data
    {
        padding: 24px;
    }


    .article_author .photo + *
    {
        width: calc(100% - 74px);
    }



    /*------------------------
        About deficit iron
    ------------------------*/
    .about_deficit_iron
    {
        padding: 0;
    }


    .about_deficit_iron .information
    {
        margin-right: 0;
        margin-bottom: 60px;
        margin-left: 0;

        background: none;
    }


    .about_deficit_iron .information .title
    {
        width: 100%;
        padding: 24px;

        background: #792582;
    }

    .about_deficit_iron .information .desc
    {
        width: 100%;
        padding: 24px;

        background: #a67db6;
    }


    .about_deficit_iron img
    {
        width: 45px;
        margin-bottom: 20px;
    }



    /*-------------------------
        Stages deficit iron
    -------------------------*/
    .stages_deficit_iron
    {
        padding: 0;
    }


    .stages_deficit_iron .block_head .title.min_w,
    .stages_deficit_iron .block_head .desc
    {
        width: 100%;
    }


    .stages_deficit_iron .items
    {
        display: block;
    }


    .stages_deficit_iron .items > * + *
    {
        margin-top: 40px;
    }


    .stages_deficit_iron .items .item
    {
        width: 100%;
        height: auto;
        padding: 0;

        text-align: left;

        border-radius: 0;
        background: none;

        align-content: flex-start;
        align-items: flex-start;
        justify-content: space-between;
    }

    .stages_deficit_iron .items .icon,
    .stages_deficit_iron .items .icon img
    {
        width: 44px;
        height: 44px;
        margin: 0;
    }

    .stages_deficit_iron .items .icon + *
    {
        width: calc(100% - 64px);
    }


    .stages_deficit_iron .section + .section
    {
        margin-top: 70px;
    }


    .stages_deficit_iron .stage + .stage
    {
        margin-top: 60px;
    }


    .stages_deficit_iron .stage .block_title
    {
        font-size: 22px;
    }

    .stages_deficit_iron .stage .block_desc
    {
        font-size: 18px;
    }


    .stages_deficit_iron .stage .information
    {
        width: 100%;
        margin-right: 0;
        margin-left: 0;

        background: none;
    }


    .stages_deficit_iron .stage .information .info,
    .stages_deficit_iron .stage .information.min_offset .info
    {
        width: 100%;
        padding: 24px;

        background: #792582;
    }

    .stages_deficit_iron .stage .information .title br
    {
        display: none;
    }

    .stages_deficit_iron .stage .information .features
    {
        margin-top: 30px;
    }

    .stages_deficit_iron .stage .information .desc,
    .stages_deficit_iron .stage .information.min_offset .desc
    {
        width: 100%;
        padding: 24px;

        background: #a67db6;
    }


    .stages_deficit_iron .stage .result
    {
        overflow: hidden;

        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 0;

        background: none;
    }

    .stages_deficit_iron .stage .result .text
    {
        width: 100%;
        padding: 24px;
    }

    .stages_deficit_iron .stage .result img
    {
        position: relative;

        width: 150%;
        height: auto;
    }


    .stages_deficit_iron .stats
    {
        margin-top: 60px;
    }


    .stages_deficit_iron .stats .data .head
    {
        padding: 17px 27px;
    }


    .stages_deficit_iron .stats .data .head .title
    {
        font-size: 16px;
        line-height: 130%;

        width: 100%;
        max-width: calc(100% - 44px);
    }

    .stages_deficit_iron .stats .data .head .icon
    {
        width: 24px;
    }


    .stages_deficit_iron .stats .data .features
    {
        padding: 17px 27px;
    }

    .stages_deficit_iron .stats .data .features + .features
    {
        padding-top: 17px;
    }


    .stages_deficit_iron .stats .list
    {
        margin-top: 60px;
    }


    .stages_deficit_iron .stats .list > *
    {
        width: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .stages_deficit_iron .stats .list > * + *
    {
        margin-left: 40px;
    }


    .stages_deficit_iron .stats .list .val
    {
        font-size: 20px;
        line-height: 125%;
    }

    .stages_deficit_iron .stats .list .exp
    {
        font-size: 16px;
        line-height: 125%;
    }

    .stages_deficit_iron .stats .list .desc
    {
        font-size: 14px;
        line-height: 140%;
    }


    .stages_deficit_iron .symptoms .block_head .title
    {
        font-size: 22px;
        line-height: 115%;
    }

    .stages_deficit_iron .symptoms .block_head .desc
    {
        font-size: 18px;
    }



    /*-------------------
        Complications
    -------------------*/
    .complications
    {
        padding: 70px 0;
    }


    .complications .block_head .desc
    {
        font-size: 18px;

        width: 100%;
    }


    .complications .row
    {
        margin-bottom: -40px;
        margin-left: 0;
    }

    .complications .row > *
    {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 0;
    }



    /*----------------------
        Anemia treatment
    ----------------------*/
    .anemia_treatment
    {
        padding: 0;
    }


    .anemia_treatment .block_head
    {
        margin-bottom: 20px;
    }

    .anemia_treatment .block_head .desc
    {
        font-size: 18px;
    }


    .anemia_treatment .information
    {
        overflow: hidden;

        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }

    .anemia_treatment .information .bg
    {
        position: relative;

        width: 200%;
        height: auto;
        margin-left: -100%;
    }

    .anemia_treatment .information .text_block
    {
        width: 100%;
        padding: 24px;
    }

    .anemia_treatment .information .exp
    {
        width: 100%;
        max-width: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 24px;
    }


    .anemia_treatment .sub_title
    {
        font-size: 22px;

        margin-top: 60px;
        margin-bottom: 40px;
    }


    .anemia_treatment .items .icon
    {
        width: 50px;
        height: 50px;
    }

    .anemia_treatment .items .icon + *
    {
        width: calc(100% - 65px);
    }

    .anemia_treatment .items .name
    {
        font-size: 20px;

        padding: 0;
    }

    .anemia_treatment .items .desc
    {
        line-height: 140%;
    }


    .anemia_treatment .data + .exp
    {
        font-size: 14px;
        line-height: 125%;

        padding: 20px;
    }


    .anemia_treatment .text_block
    {
        width: 100%;
        margin-top: 40px;
    }



    /*-----------------------
        Tеreatment causes
    -----------------------*/
    .tеreatment_causes
    {
        padding: 70px 0;
    }

    .tеreatment_causes:before
    {
        display: none;
    }


    .tеreatment_causes .block_head
    {
        margin-bottom: 60px;
    }

    .tеreatment_causes .block_head .desc
    {
        font-size: 18px;
    }


    .tеreatment_causes .sub_title
    {
        font-size: 18px;

        margin-bottom: 20px;
    }



    /*------------------
        Prevention 2
    ------------------*/
    .prevention2
    {
        padding: 0;
    }


    .prevention2 .block_head .desc
    {
        font-size: 18px;

        width: 100%;
    }



    /*------------------
        Symptom info
    ------------------*/
    .symptom_info .block_head .desc
    {
        font-size: 18px;
        line-height: 125%;
    }



    /*--------------------
        Iron pregnancy
    --------------------*/
    .iron_pregnancy
    {
        padding: 0;
    }


    .iron_pregnancy .information
    {
        width: calc(100% + 30px);
        margin-right: -15px;
        margin-bottom: 40px;
        margin-left: -15px;

        background: none;
    }

    .iron_pregnancy .information .title
    {
        width: 100%;
        padding: 24px;

        background: #792582;
    }

    .iron_pregnancy .information .desc
    {
        width: 100%;
        padding: 24px;

        background: #a67db6;
    }



    /*----------------
        Hemoglobin
    ----------------*/
    .hemoglobin
    {
        padding: 70px 0;
    }


    .hemoglobin .block_head
    {
        margin-bottom: 50px;
    }

    .hemoglobin .block_head .desc
    {
        font-size: 18px;
        line-height: 125%;
    }


    .hemoglobin .schema .title
    {
        font-size: 22px;
    }


    .hemoglobin .schema + .text_block
    {
        margin-top: 60px;
    }



    /*-----------------
        What danger
    -----------------*/
    .what_danger
    {
        padding: 0;
    }


    .what_danger .section + .section
    {
        margin-top: 60px;
    }


    .what_danger .block_head
    {
        margin-bottom: 50px;
    }

    .what_danger .block_head .desc
    {
        font-size: 18px;
        line-height: 125%;
    }


    .what_danger .row .text_block
    {
        width: 100%;
    }

    .what_danger .row + .text_block
    {
        margin-top: 50px;
    }


    .what_danger .message
    {
        width: 100%;
        margin-top: 40px;
        margin-right: 31px;
    }


    .what_danger .text_block ul.row
    {
        margin-bottom: 0;
        margin-left: 0;
    }

    .what_danger .text_block ul.row li
    {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }


    .what_danger .notice
    {
        width: calc(100% + 30px);
        margin-top: 32px;
        margin-right: -15px;
        margin-left: -15px;
        padding: 50px 30px;
    }

    .what_danger .notice .text_block
    {
        width: 360px;
    }


    .what_danger .section > .title
    {
        font-size: 22px;
    }

    .what_danger .section > .desc
    {
        font-size: 18px;
    }



    /*--------------------
        Iron diagnosis
    --------------------*/
    .iron_diagnosis
    {
        padding: 0;
    }


    .iron_diagnosis .block_title
    {
        font-size: 22px;
    }

    .iron_diagnosis .block_desc
    {
        font-size: 18px;
    }


    .iron_diagnosis .accordion
    {
        margin-top: 60px;
    }


    .iron_diagnosis .accordion_item + .accordion_item
    {
        margin-top: 40px;
    }


    .iron_diagnosis .accordion_item > .head
    {
        padding-right: 76px;
    }

    .iron_diagnosis .accordion_item .head .title
    {
        font-size: 20px;
    }

    .iron_diagnosis .accordion_item > .head .title span
    {
        font-size: 18px;
        line-height: 140%;
    }


    .iron_diagnosis .accordion_item .data
    {
        padding-right: 0;
        padding-left: 0;
    }

    .iron_diagnosis .accordion_item .text_block
    {
        width: 100%;
    }


    .iron_diagnosis .stats .head
    {
        padding: 16px 20px;
    }


    .iron_diagnosis .stats .head .title
    {
        font-size: 16px;
        line-height: 130%;

        width: 100%;
        max-width: calc(100% - 44px);
    }

    .iron_diagnosis .stats .head .icon
    {
        width: 24px;
    }


    .iron_diagnosis .stats .features
    {
        padding: 16px 20px;
    }

    .iron_diagnosis .stats .features + .features
    {
        padding-top: 17px;
    }

    .iron_diagnosis .stats .features .val
    {
        font-size: 18px;
    }


    .iron_diagnosis .information
    {
        overflow: hidden;

        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }

    .iron_diagnosis .information .bg
    {
        position: relative;

        width: 200%;
        height: auto;
        margin-left: -100%;
    }

    .iron_diagnosis .information .text_block
    {
        width: 100%;
        padding: 24px;
    }

    .iron_diagnosis .information .exp
    {
        width: 100%;
        max-width: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 24px;
    }



    .iron_diagnosis .hepcidin,
    .iron_diagnosis .hepcidin .section + .section
    {
        margin-top: 60px;
    }



    .iron_diagnosis .compensation .block_title
    {
        font-size: 22px;
    }

    .iron_diagnosis .compensation .block_desc
    {
        margin-bottom: 50px;
    }



    .iron_diagnosis .table_title
    {
        font-size: 18px;

        margin-bottom: 50px;
    }


    .iron_diagnosis .table_wrap
    {
        width: calc(100% + 60px);
        max-width: calc(100% + 60px);
        margin-right: -30px;
        margin-left: -30px;
        padding: 0 30px 10px;
    }


    .iron_diagnosis table th,
    .iron_diagnosis table td
    {
        padding: 20px;
    }

    .iron_diagnosis table td b
    {
        font-size: 18px;
    }


    .iron_diagnosis .compensation
    {
        margin-top: 80px;
    }



    /*------------------------
        What danger excess
    ------------------------*/
    .what_danger_excess
    {
        padding: 70px 0;
    }


    .what_danger_excess .block_head
    {
        margin-bottom: 50px;
    }

    .what_danger_excess .block_head .desc
    {
        font-size: 18px;
    }
}
