@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 18px;
        --font_size_title: 30px;
    }


    .block
    {
        margin-bottom: 80px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 12px 0;
    }



    /*-----------------
        Breadcrumbs
    -----------------*/
    .breadcrumbs
    {
        padding: 30px 0;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 40px;
    }


    .block_head .icon.tablet_show
    {
        display: block;
    }

    .block_head .icon
    {
        width: 54px;
    }

    .block_head .icon:not(.tablet_show) + .title,
    .block_head .icon.tablet_show + .title
    {
        width: calc(100% - 79px);
    }


    .block_head .desc
    {
        margin-top: 20px;
    }



    .block_head .link a
    {
        font-size: 14px;

        padding: 16px 35px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *
    {
        margin-bottom: 20px;
    }


    .text_block ol li
    {
        padding-left: 68px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding: 100px 0 54px;
    }


    .first_section .title
    {
        font-size: 36px;
    }


    .first_section .desc
    {
        font-size: 20px;

        margin-top: 10px;
    }


    .first_section .actions
    {
        width: 320px;
        max-width: 100%;
        margin-top: 96px;
        margin-bottom: 0;
        margin-left: 0;
    }

    .first_section .actions > * + *
    {
        margin-top: 14px !important;
    }


    .first_section .actions .item
    {
        color: #000;
        line-height: 100%;

        display: flex;

        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;

        text-align: left;

        border-radius: 52px;
        background: rgba(242, 230, 246, .6);
        box-shadow: 0 4px 13px rgba(0, 0, 0, .1);

        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        backdrop-filter: blur(10px);
    }


    .first_section .actions .icon
    {
        width: 48px;
        height: 48px;
        margin: 0;
        padding: 8px;

        border-radius: 50%;
        background: #c997dd;
    }

    .first_section .actions .icon + *
    {
        width: calc(100% - 66px);
    }

    .first_section .actions br
    {
        display: none;
    }


    .first_section .bg
    {
        object-position: 70% 100%;
    }



    /*-------------------
        Why important
    -------------------*/
    .why_important
    {
        padding: 0 60px;
    }


    .why_important .block_head .icon
    {
        width: 54px;
    }

    .why_important .block_head .icon + .title
    {
        width: calc(100% - 79px);

        align-self: center;
    }

    .why_important .block_head .title br
    {
        display: none;
    }


    .why_important .data
    {
        width: 100%;
    }


    .why_important .data .sub_title
    {
        font-size: 18px;
        line-height: 140%;
    }


    .why_important .data .link
    {
        margin-top: 50px;
    }

    .why_important .data .link a
    {
        font-size: 14px;

        padding: 16px 35px;
    }


    .why_important .stats
    {
        color: #792582;
        font-size: 16px;
        font-weight: 500;
        line-height: 145%;

        width: 100%;
        height: auto;
        margin-top: 30px;
        padding: 22px;

        border: none;
        border-radius: 0;
        background: rgba(237, 226, 255, .8);
        box-shadow: none;

        backdrop-filter: blur(5px);
    }

    .why_important .stats .val
    {
        color: #792582;
        font-size: 16px;
        font-weight: 500;
        line-height: 145%;

        margin-right: 6px;
    }

    .why_important .stats .title
    {
        color: #792582;
        font-size: 16px;
        font-weight: 500;
        line-height: 145%;
    }

    .why_important .stats .desc
    {
        width: auto;
        margin-left: 6px;
    }

    .why_important .stats br
    {
        display: none;
    }



    /*--------------
        Symptoms
    --------------*/
    .symptoms
    {
        padding: 80px 60px;
    }


    .symptoms .block_head
    {
        margin-bottom: 40px;
    }

    .symptoms .block_head .desc
    {
        font-size: 20px;
        line-height: 125%;

        width: 545px;
        margin-top: 65px;
    }


    .symptoms .row
    {
        margin-bottom: -46px;
        margin-left: -40px;
    }

    .symptoms .row > *
    {
        width: calc(50% - 40px);
        margin-bottom: 46px;
        margin-left: 40px;
    }


    .symptoms .item
    {
        font-size: 17px;
        line-height: 140%;
    }


    .symptoms .item .icon
    {
        width: 54px;
        height: 54px;
    }

    .symptoms .item .icon + *
    {
        width: calc(100% - 74px);
    }


    .symptoms .spoler_btn
    {
        font-size: 14px;

        margin-top: 50px;
    }

    .symptoms .spoler_btn div
    {
        padding: 0 50px;
    }

    .symptoms .link a
    {
        font-size: 14px;

        padding: 16px 35px;
    }


    .symptoms .link
    {
        margin-top: 50px;
    }



    /*---------------
        Influence
    ---------------*/
    .influence .swiper
    {
        padding-bottom: 47px;
    }

    .influence .swiper-slide
    {
        width: 300px;
    }


    .influence .item .thumb
    {
        padding-bottom: 260px;
    }


    .influence .item .title
    {
        display: none;
    }


    .influence .item .info
    {
        position: relative;

        height: auto;
        padding: 18px 20px 46px;

        pointer-events: auto;

        opacity: 1;
        background: none;
    }

    .influence .item .info .sub_title
    {
        font-size: 18px;
        line-height: 125%;
    }


    .influence .item .info .desc
    {
        display: block;
        overflow-y: visible;

        -webkit-line-clamp: 0;
    }


    .influence .item .info .link
    {
        margin-top: 15px;
    }

    .influence .item .info .link a
    {
        text-decoration: underline;
    }



    /*-------------
        Deficit
    -------------*/
    .deficit
    {
        padding: 0 60px;
    }


    .deficit .block_head
    {
        margin-bottom: 65px;
    }


    .deficit .data .sub_title
    {
        font-size: 18px;
    }


    .deficit .data .link
    {
        margin-top: 50px;
    }

    .deficit .data .link a
    {
        font-size: 14px;

        padding: 16px 35px;
    }


    .deficit .img
    {
        display: none;
    }



    /*------------
        Yniron
    ------------*/
    .yuniron .data
    {
        padding: 120px 0 79px;
    }


    .yuniron .info
    {
        width: 484px;
        padding-right: 0;
    }


    .yuniron .bottom
    {
        margin-top: 50px;
    }


    .yuniron .test_btn
    {
        font-size: 14px;

        padding: 9px 35px 9px 36px;
    }


    .yuniron .bg
    {
        left: -40px;
    }



    .yuniron .hashtag
    {
        font-size: 36px;

        padding: 35px;
    }



    /*--------------------
        Expert opinion
    --------------------*/
    .expert_opinion .sub_title
    {
        width: 544px;
        margin-bottom: 20px;
    }


    .expert_opinion .video
    {
        margin-top: 60px;
    }


    .expert_opinion .video .play_btn .icon
    {
        width: 58px;
        height: 58px;
    }


    .expert_opinion .row
    {
        margin-top: 60px;
        margin-bottom: -30px;
        margin-left: -20px;
    }

    .expert_opinion .row > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 30px;
        margin-left: 20px;
    }


    .expert_opinion .item .photo
    {
        width: 54px;
        height: 54px;
    }

    .expert_opinion .item .name
    {
        font-size: 16px;

        width: calc(100% - 69px);
        margin-bottom: 0;

        align-self: center;
    }

    .expert_opinion .item .name br
    {
        display: none;
    }


    .expert_opinion .item .desc
    {
        margin-top: 18px;
    }


    .expert_opinion .item .quote
    {
        font-size: 15px;

        padding: 20px 12px 20px 26px;
    }


    .expert_opinion .link
    {
        margin-top: 50px;
    }

    .expert_opinion .link a
    {
        font-size: 14px;

        padding: 16px 35px;
    }



    /*----------------------
        During pregnancy
    ----------------------*/
    .during_pregnancy
    {
        margin-bottom: 175px;
        padding-top: 58px;
    }


    .during_pregnancy .desc
    {
        width: 514px;
    }


    .during_pregnancy .articles
    {
        margin-top: 63px;
        margin-bottom: -124px;
        margin-left: -30px;
    }


    .during_pregnancy .article
    {
        width: 284px;
        max-width: calc(100% - 30px);
        margin-bottom: 30px;
        margin-left: 30px;
        padding: 22px 20px 24px 20px;
    }

    .during_pregnancy .article .title
    {
        font-size: 18px;
    }

    .during_pregnancy .article .btn
    {
        font-size: 14px;

        margin-top: 36px;
        padding: 16px 35px;
    }

    .during_pregnancy .article .img
    {
        right: -50px;
    }


    .during_pregnancy .anemia
    {
        width: calc(100% - 99px);
        margin-top: 40px;
        margin-left: -24px;
        padding: 20px 24px;
    }

    .during_pregnancy .anemia:after
    {
        display: none;
    }

    .during_pregnancy .anemia br
    {
        display: none;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        margin-bottom: 80px;
        padding-top: 128px;
        padding-bottom: 129px;
    }


    .service_head .data
    {
        width: 430px;
    }


    .service_head .data .title
    {
        font-size: 36px;
        line-height: 110%;
    }


    .service_head .data .desc
    {
        font-size: 20px;
        line-height: 125%;

        width: 320px;
        margin-top: 22px;
    }


    .service_head .data .btn
    {
        font-size: 14px;

        margin-top: 38px;
        padding: 16px 30px 17px;
    }


    .service_head .anchors
    {
        font-size: 14px;
        line-height: 125%;

        padding: 24px 0 23px;
    }


    .service_head .anchors .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .service_head .anchors .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .service_head .anchors .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .service_head .anchors .row > *
    {
        display: inline-block;

        max-width: none;
        margin: 0;

        vertical-align: top;
    }

    .service_head .anchors .row > * + *
    {
        margin-left: 36px;
    }



    /*-------------
        Why how
    -------------*/
    .why_how
    {
        padding: 0 60px;
    }


    .why_how .text_block
    {
        width: 100%;
        max-width: 100%;
    }


    .why_how .info
    {
        width: 399px;
        margin-top: 40px;
        margin-left: 0;
        padding: 26px 26px 25px;

        box-shadow: inset 0 0 0 2px #fff;
    }


    .why_how .info .icon
    {
        top: 0;
        right: -40px;
        bottom: 0;
        left: auto;

        width: 73px;
        height: 73px;
        padding: 13px;

        border-width: 6px;
    }


    .why_how .info .title
    {
        font-size: 18px;
        line-height: 140%;
    }


    .why_how .info .btn
    {
        font-size: 14px;

        margin-top: 16px;
        padding: 16px 30px 17px;
    }



    /*------------------
        Which doctor
    ------------------*/
    .which_doctor .data
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 80px 75px;
    }


    .which_doctor .block_head
    {
        width: 413px;
    }



    /*-----------------
        How prepare
    -----------------*/
    .how_prepare
    {
        padding: 0 60px;
    }


    .how_prepare .text_block
    {
        width: 100%;
        max-width: 100%;
    }


    .how_prepare .video_link
    {
        display: flex;

        width: 100%;
        margin-top: 60px;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }


    .how_prepare .video_link .thumb
    {
        width: 280px;
        height: 180px;
        margin: 0;
        padding: 0;
    }

    .how_prepare .video_link .thumb + *
    {
        width: calc(100% - 310px);
        padding-top: 20px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 80px 16px 80px 26px;
    }


    .action_block .title
    {
        font-size: 30px;
        line-height: 115%;

        width: 350px;
    }


    .action_block .test_btn
    {
        margin-left: auto;
    }



    /*-----------------
        Preparation
    -----------------*/
    .preparation
    {
        padding: 0 60px;
    }


    .preparation .block_head
    {
        margin-bottom: 54px;
    }

    .preparation .block_head .desc
    {
        font-size: 20px;

        width: 100%;
        margin-top: 40px;
    }


    .preparation .row
    {
        margin-bottom: -35px;
        margin-left: 0;
    }

    .preparation .row > *
    {
        width: 100%;
        margin-bottom: 35px;
        margin-left: 0;
    }


    .preparation .item .icon
    {
        width: 54px;
    }

    .preparation .item .icon + *
    {
        width: calc(100% - 81px);
    }



    /*-------------
        Results
    -------------*/
    .results
    {
        padding: 80px 0 60px;
    }


    .results .block_head
    {
        margin-bottom: 52px;
    }


    .results .swiper
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 0 24px;
    }

    .results .swiper-slide
    {
        width: 297px;
    }

    .results .swiper-button-next,
    .results .swiper-button-prev
    {
        display: flex;
    }


    .results .row
    {
        margin-bottom: 0;
        margin-left: 0;
    }

    .results .row > *
    {
        width: 297px;
        margin-bottom: 0;
        margin-left: 0;
    }


    .results .item
    {
        padding: 20px;
    }


    .results .exp
    {
        width: 618px;
        margin-top: 20px;
        padding: 0 20px;
    }



    /*-----------------------
        Treatment control
    -----------------------*/
    .treatment_control
    {
        padding: 0 60px;
    }


    .treatment_control .text_block
    {
        width: 100%;
        max-width: 100%;
    }


    .treatment_control .video_link
    {
        display: flex;

        width: 100%;
        margin-top: 60px;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }


    .treatment_control .video_link .thumb
    {
        width: 280px;
        height: 180px;
        margin: 0;
        padding: 0;
    }

    .treatment_control .video_link .thumb + *
    {
        width: calc(100% - 310px);
        padding-top: 20px;
    }



    /*----------
        Test
    ----------*/
    .test
    {
        padding: 80px 60px;
    }


    .test .data
    {
        width: 100%;
        margin-top: 0;
        margin-bottom: 52px;
        margin-left: 0;
    }


    .test .data .title
    {
        font-size: 30px;
        line-height: 115%;
    }


    .test .data .desc
    {
        font-size: 20px;
        line-height: 120%;

        margin-top: 20px;
    }


    .test form
    {
        width: 100%;
        margin-right: 0;
    }


    .test .question
    {
        padding: 32px 50px;
    }


    .test .answers
    {
        padding: 40px 50px;
    }


    .test .btns
    {
        padding-top: 0;

        border: none;
    }


    .test .total
    {
        padding: 26px 50px;
    }

    .test .total .exp
    {
        width: 256px;
    }


    .test:before
    {
        bottom: -302px;

        margin-left: -624px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .swiper-slide
    {
        width: 227px;
    }


    .articles .article .thumb
    {
        margin-bottom: 18px;
    }


    .articles .article .name
    {
        line-height: 125%;
    }


    .articles .article .desc
    {
        font-size: 14px;
        line-height: 130%;

        margin-top: 10px;
    }



    /*-----------------------
        Contraindications
    -----------------------*/
    .contraindications
    {
        font-size: 20px;
    }


    .contraindications span
    {
        font-size: 37px;
    }



    /*------------
        Footer
    ------------*/
    footer .text
    {
        width: 100%;
        margin-top: 30px;

        order: 2;
    }
}
