@media print,
(max-width: 1187px)
{
    /*-------------------
        Global styles
    -------------------*/
    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .cont
    {
        padding: 0 28px;
    }


    .block
    {
        margin-bottom: 130px;
    }



    /*--------------
        BG block
    --------------*/
    .bg_block
    {
        padding: 130px 0;
    }



    /*------------
        Header
    ------------*/
    header .logo
    {
        margin-right: auto;
    }


    header .menu
    {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 100%;

        width: 264px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 0;

        transition: transform .3s linear;

        background: #fff;
    }

    header .menu.show
    {
        transform: translateX(-100%);
    }


    header .menu .row
    {
        display: flex;
        overflow: auto;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 60px 34px 60px 39px;

        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        overscroll-behavior-y: contain;
    }

    header .menu .row > *
    {
        width: 100%;
    }


    header .menu_item + .menu_item
    {
        margin-top: 28px;
        margin-left: 0;
    }


    header .menu_item > a
    {
        justify-content: flex-start;
    }


    header .menu_item .sub_menu,
    header .menu_item:hover .sub_menu
    {
        position: relative;
        top: 0;
        left: 0;

        display: none;
        visibility: hidden;

        padding: 28px 0 0;

        pointer-events: auto;

        opacity: 1;
        background: none;
        box-shadow: none;
    }

    header .menu_item .sub_menu:before
    {
        display: none;
    }


    header .menu_item > a.touch_link + .sub_menu.show
    {
        display: block;
        visibility: visible;
    }


    header .sub_menu > * + *
    {
        margin-top: 28px;
    }

    header .sub_menu a
    {
        padding: 0 20px;
    }


    header .menu .close_btn
    {
        display: flex;
    }


    header .menu_btn
    {
        display: flex;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .desc
    {
        margin-top: 40px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block ol li
    {
        padding-left: 68px;
    }


    .text_block .bg:after
    {
        width: 60px;
    }


    .text_block .bg span
    {
        width: 596px;
        max-width: calc(100% - 173px);
    }

    .text_block .bg .icon
    {
        margin-right: 29px;
    }


    .text_block ul.row
    {
        margin-left: -69px;
    }

    .text_block ul.row li
    {
        width: calc(50% - 69px);
        margin-left: 69px;
    }


    .text_block .products
    {
        width: calc(100vw - 56px);
        margin-top: 40px;
        margin-bottom: 40px;
    }


    .text_block .products .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .text_block .products .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .text_block .products .icon
    {
        width: 60px;
        height: 60px;
    }

    .text_block .products .icon + *
    {
        width: calc(100% - 80px);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding: 149px 0 121px;
    }


    .first_section .title
    {
        font-size: 42px;
    }


    .first_section .desc
    {
        font-size: 24px;

        margin-top: 5px;
    }


    .first_section .actions
    {
        margin-top: 50px;
    }


    .first_section .actions .item
    {
        font-size: 14px;

        width: 130px;
        height: 130px;
        padding: 17px 0;
    }


    .first_section .actions .icon
    {
        height: 43px;
        margin-bottom: 9px;
    }



    /*-------------------
        Why important
    -------------------*/
    .why_important .data
    {
        width: 634px;
    }


    .why_important .data .link
    {
        margin-top: 30px;
    }


    .why_important .stats
    {
        width: 250px;
        height: 250px;
        padding: 22px;
    }

    .why_important .stats .val
    {
        font-size: 45px;
    }

    .why_important .stats .title
    {
        font-size: 20px;
    }



    /*--------------
        Symptoms
    --------------*/
    .symptoms
    {
        padding: 130px 0;
    }


    .symptoms .row
    {
        margin-bottom: -43px;
        margin-left: -35px;
    }

    .symptoms .row > *
    {
        width: calc(33.333% - 35px);
        margin-bottom: 43px;
        margin-left: 35px;
    }


    .symptoms .item
    {
        line-height: 130%;
    }


    .symptoms .item .icon
    {
        width: 50px;
        height: 50px;
    }

    .symptoms .item .icon + *
    {
        width: calc(100% - 70px);
    }


    .symptoms .spoler_btn
    {
        margin-top: 67px;
    }


    .symptoms .link
    {
        margin-top: 60px;
    }



    /*---------------
        Influence
    ---------------*/
    .influence .row
    {
        margin-bottom: -30px;
        margin-left: -30px;
    }

    .influence .row > *
    {
        width: calc(33.333% - 30px);
        margin-bottom: 30px;
        margin-left: 30px;
    }


    .influence .item .thumb
    {
        padding-bottom: 260px;
    }


    .influence .item .title
    {
        padding: 31px 20px 34px;
    }


    .influence .item .info
    {
        padding: 47px 30px;
    }


    .influence .item .info .desc
    {
        display: -webkit-box;
        overflow-y: hidden;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
    }



    /*-------------
        Deficit
    -------------*/
    .deficit .data
    {
        width: 554px;
    }


    .deficit .data .link
    {
        margin-top: 30px;
    }


    .deficit .img
    {
        width: 177px;
        margin-right: 63px;
    }



    /*------------
        Yniron
    ------------*/
    .yuniron .info
    {
        width: 626px;
        padding-right: 40px;
    }


    .yuniron .bottom
    {
        margin-top: 60px;
    }


    .yuniron .bg
    {
        left: -20px;
    }



    /*--------------------
        Expert opinion
    --------------------*/
    .expert_opinion .swiper.big
    {
        margin-top: 0;
        padding: 0;
    }


    .expert_opinion .swiper-button-prev
    {
        left: 0;
    }

    .expert_opinion .swiper-button-next
    {
        right: 0;
    }

    .expert_opinion .big .swiper-button-prev,
    .expert_opinion .big .swiper-button-next
    {
        top: 59px;
    }

    .expert_opinion .big .swiper-button-prev
    {
        right: 238px;
    }


    .expert_opinion .big .doctor
    {
        width: 280px;
    }

    .expert_opinion .big .doctor .photo
    {
        width: 152px;
        height: 152px;
        margin-bottom: 24px;
    }

    .expert_opinion .big .doctor .desc
    {
        font-size: 15px;

        margin-top: 8px;
    }

    .expert_opinion .big .doctor + *
    {
        width: calc(100% - 340px);
        padding-top: 20px;
    }


    .expert_opinion .big .quote
    {
        line-height: 150%;

        padding: 28px 104px 28px 0;
    }

    .expert_opinion .big .quote:before
    {
        left: 0;
    }


    .expert_opinion .big .text
    {
        margin-top: 24px;
    }


    .expert_opinion .carousel
    {
        margin-top: 90px;
    }

    .expert_opinion .carousel .swiper-button-prev,
    .expert_opinion .carousel .swiper-button-next
    {
        top: 0;

        width: 90px;
        height: 100%;
        padding: 24px;
    }

    .expert_opinion .carousel .swiper-button-next
    {
        right: -24px;

        background: linear-gradient(270deg, #fff 18.77%, #fff0 100%);
    }

    .expert_opinion .carousel .swiper-button-prev
    {
        left: -24px;

        background: linear-gradient(90deg, #fff 18.77%, #fff0 100%);
    }



    .expert_opinion .video
    {
        margin-top: 70px;
    }


    .expert_opinion .video .play_btn .icon
    {
        width: 77px;
        height: 77px;
    }


    .expert_opinion .row
    {
        margin-top: 70px;
        margin-bottom: -30px;
        margin-left: -30px;
    }

    .expert_opinion .row > *
    {
        width: calc(33.333% - 30px);
        margin-bottom: 30px;
        margin-left: 30px;
    }


    .expert_opinion .link
    {
        margin-top: 60px;
    }



    /*----------------------
        During pregnancy
    ----------------------*/
    .during_pregnancy
    {
        margin-bottom: 226px;
        padding-top: 130px;
    }


    .during_pregnancy .desc
    {
        width: 579px;
    }


    .during_pregnancy .articles
    {
        margin-top: 60px;
        margin-bottom: -136px;
    }


    .during_pregnancy .anemia
    {
        width: 276px;
        padding: 30px 0 30px 45px;
    }


    .during_pregnancy .bg
    {
        right: -190px;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        min-height: 591px;
        padding-bottom: 85px;
    }


    .service_head .data
    {
        width: 500px;
    }

    .service_head .data.tablet_big
    {
        width: 676px;
    }


    .service_head .data .title
    {
        font-size: 42px;
    }


    .service_head .data .desc
    {
        font-size: 24px;

        width: 384px;
        margin-top: 20px;
    }


    .service_head .data .btn
    {
        margin-top: 45px;
    }


    .service_head .anchors
    {
        bottom: 0;
    }


    .service_head .anchors .row
    {
        margin-left: 0;

        justify-content: space-between;
    }

    .service_head .anchors .row > *
    {
        margin-left: 0;
    }


    .service_head .anchors .row.alignleft
    {
        margin-left: -52px;

        justify-content: flex-start;
    }

    .service_head .anchors .row.alignleft > *
    {
        margin-left: 52px;
    }


    .service_head .anchors .row.step_below,
    .service_head .anchors .row.scroll
    {
        display: block;
        overflow: auto;

        width: calc(100% + 56px);
        margin: 0 -28px;
        padding: 0 28px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .service_head .anchors .row.step_below::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .service_head .anchors .row.step_below::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }

    .service_head .anchors .row.step_below > *
    {
        display: inline-block;

        max-width: none;
        margin: 0 !important;

        vertical-align: top;
    }

    .service_head .anchors .row.step_below > * + *
    {
        margin-left: 48px !important;
    }


    .service_head .anchors .row.scroll > *
    {
        margin: 0 !important;
    }

    .service_head .anchors .row.scroll > * + *
    {
        margin-left: 52px !important;
    }



    /*-------------
        Why how
    -------------*/
    .why_how .text_block
    {
        width: 500px;
        max-width: calc(100% - 392px);
    }


    .why_how .info
    {
        width: 320px;
        margin-top: 45px;
        padding: 77px 20px 76px;

        box-shadow: inset 0 0 0 4px #fff;
    }


    .why_how .info .title
    {
        font-size: 20px;
    }


    .why_how .info .btn
    {
        margin-top: 25px;
        padding-right: 25px;
        padding-left: 25px;
    }



    /*------------------
        Which doctor
    ------------------*/
    .which_doctor .data
    {
        padding: 80px;
    }


    .which_doctor .block_head
    {
        width: 536px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 80px 0;
    }


    .action_block .title
    {
        width: 490px;
    }


    .action_block .test_btn
    {
        margin-left: 103px;
        padding: 18px 40px 17px;
    }



    /*-----------------
        Preparation
    -----------------*/
    .preparation .row
    {
        margin-left: -80px;
    }

    .preparation .row > *
    {
        width: calc(50% - 80px);
        margin-left: 80px;
    }


    .preparation .item .icon
    {
        width: 49px;
    }

    .preparation .item .icon + *
    {
        width: calc(100% - 84px);
    }



    /*-------------
        Results
    -------------*/
    .results
    {
        padding: 130px 0 80px;
    }


    .results .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .results .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .results .item
    {
        padding: 25px 20px;
    }


    .results .item .name span
    {
        width: calc(100% - 50px);
    }


    .results .item .features > * + *
    {
        margin-top: 9px;
    }

    .results .item .features .val
    {
        line-height: 24px;
    }


    .results .exp
    {
        padding: 0;
    }



    /*-----------------------
        Treatment control
    -----------------------*/
    .treatment_control .text_block
    {
        width: 547px;
    }



    /*----------
        Test
    ----------*/
    .test
    {
        padding-bottom: 135px;
    }


    .test .data
    {
        width: 360px;
        margin-top: 134px;
        margin-left: 40px;
    }


    .test .data .title
    {
        font-size: 32px;
    }



    .test form
    {
        width: 424px;
        margin-right: 57px;
    }


    .test .question
    {
        padding: 32px 46px;
    }


    .test .answers
    {
        padding: 40px 46px;
    }


    .test .btns
    {
        padding-top: 0;

        border: none;
    }


    .test .total
    {
        padding: 26px 46px;
    }

    .test .total .exp
    {
        width: 197px;
    }


    .test:before
    {
        bottom: -366px;

        margin-left: -840px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article .desc
    {
        margin-top: 13px;
    }



    /*-----------------------
        Contraindications
    -----------------------*/
    .contraindications
    {
        font-size: 26px;
    }


    .contraindications span
    {
        font-size: 49px;

        display: block;

        margin-top: 5px;
    }



    /*-------------
        Lecture
    -------------*/
    .lecture
    {
        padding: 100px 0;
    }


    .lecture .block_head
    {
        margin-bottom: 50px;
    }


    .lecture .sub_title
    {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }


    .lecture .video
    {
        margin-top: 70px;
    }

    .lecture .video .play_btn .icon
    {
        width: 76px;
        height: 76px;
    }


    .lecture .videos:after
    {
        display: none;
    }


    .lecture .videos .sub_title
    {
        font-weight: 700;

        margin-bottom: 45px;
    }


    .lecture .videos .row
    {
        margin-left: -30px;
    }

    .lecture .videos .row > *
    {
        width: calc(33.333% - 30px);
        margin-left: 30px;
    }


    .lecture .video_link .author
    {
        font-size: 12px;
    }


    .expert_opinion .item
    {
        padding: 32px 24px;
    }

    .expert_opinion .item .name
    {
        width: 100%;
        margin-bottom: 8px;
    }

    .expert_opinion .item .title
    {
        font-size: 20px;

        margin-bottom: 24px;
    }



    /*----------------
        Every 10th
    ----------------*/
    .every_10th .data
    {
        background-position: -56px 50%;
    }


    .every_10th .data .title
    {
        width: 395px;
        padding: 78px 83px;
    }

    .every_10th .data .desc
    {
        width: calc(100% - 405px);
        padding: 29px 49px 29px 61px;
    }


    .every_10th .exp
    {
        width: 855px;
        padding: 0 28px;
    }



    /*---------------
        Role iron
    ---------------*/
    .role_iron
    {
        padding-top: 130px;
        padding-right: 28px;
        padding-bottom: 42px;
        padding-left: 28px;
    }


    .role_iron .data
    {
        width: 596px;
    }


    .role_iron .text
    {
        width: 313px;
        margin-top: 344px;
        margin-right: -45px;
        padding: 30px 24px 30px 45px;
    }



    /*----------------------
        Article symptoms
    ----------------------*/
    .article_symptoms
    {
        padding: 0 28px;
    }


    .article_symptoms .block_head
    {
        width: 596px;
        margin-bottom: 20px;
    }


    .article_symptoms .row .items
    {
        width: 519px;
        max-width: calc(100% - 336px);
    }

    .article_symptoms .items .title
    {
        width: 519px;
    }


    .article_symptoms .message
    {
        width: 321px;
        margin-right: -28px;
        padding: 75px 15px 50px;
    }


    .article_symptoms .items .row
    {
        margin-left: -14px;
    }

    .article_symptoms .items .row > *
    {
        width: calc(33.333% - 14px);
        margin-left: 14px;
    }


    .article_symptoms .items .item .icon
    {
        width: 61px;
        height: 61px;
    }

    .article_symptoms .items .item .icon + *
    {
        width: calc(100% - 91px);
    }


    .article_symptoms .text_block
    {
        width: 750px;
    }

    .article_symptoms .text_block .bg:after
    {
        width: 60px;
    }



    /*-------------
        Reasons
    -------------*/
    .reasons
    {
        padding: 130px 28px;
    }

    .reasons.no_bg
    {
        padding-right: 28px;
        padding-left: 28px;
    }


    .reasons .block_head .desc
    {
        margin-top: 20px;
    }

    .reasons .block_head .title.min_w + .desc
    {
        width: 660px;
    }


    .reasons .accordion_item .head .icon img
    {
        width: 61px;
        height: 61px;
    }

    .reasons .accordion_item .head .title
    {
        width: calc(100% - 91px);
    }


    .reasons .accordion_item .data
    {
        padding-right: 70px;
        padding-left: 91px;
    }


    .reasons .accordion + .text_block
    {
        width: 750px;
    }



    /*---------------
        Treatment
    ---------------*/
    .treatment
    {
        padding-right: 28px;
        padding-left: 28px;
    }


    .treatment .data
    {
        margin-right: -28px;
        margin-left: -28px;
        padding-right: 62px;
        padding-left: 62px;
    }

    .treatment .data .text_block
    {
        width: 653px;
    }


    .treatment .exp
    {
        width: 750px;
    }



    .treatment .tableted .text
    {
        width: 750px;
    }



    .treatment .combination .title
    {
        width: 797px;
    }


    .treatment .combination ul
    {
        margin-left: -40px;
    }

    .treatment .combination ul li
    {
        width: calc(50% - 40px);
        margin-left: 40px;
        padding-left: 32px;
    }



    .treatment .information
    {
        margin-right: -28px;
        margin-left: -28px;

        background-position: -56px 50%;
    }

    .treatment .information .title
    {
        width: 395px;
        padding: 29px 56px;
    }

    .treatment .information .desc
    {
        width: calc(100% - 405px);
        padding: 45px 49px 45px 61px;
    }



    .treatment .portability .title,
    .treatment .portability .text_block
    {
        width: 750px;
    }



    .treatment .relieve_effects .row
    {
        margin-bottom: -30px;
    }

    .treatment .relieve_effects .row > *
    {
        margin-bottom: 30px;
    }


    .treatment .relieve_effects .item
    {
        min-height: 326px;
    }



    /*----------------------
        Intravenous iron
    ----------------------*/
    .intravenous_iron
    {
        padding: 0 28px;
    }


    .intravenous_iron .data
    {
        width: 519px;
    }


    .intravenous_iron .side_effects
    {
        width: 750px;
    }


    .intravenous_iron .notice
    {
        margin-right: 0;
    }



    /*----------
        Diet
    ----------*/
    .diet
    {
        padding: 0 28px;
    }


    .diet .block_title,
    .diet .block_desc
    {
        width: 750px;
    }


    .diet .information
    {
        margin-right: -28px;
        margin-left: -28px;
        padding: 50px;
    }


    .diet .information .text_block
    {
        width: 469px;
    }


    .diet .information .exp
    {
        right: -40px;

        width: 348px;
        padding: 30px 87px 30px 45px;
    }



    /*--------------
        Criteria
    --------------*/
    .criteria
    {
        padding: 0 28px;
    }


    .criteria .block_desc
    {
        width: 750px;
    }


    .criteria .key_criteria .row
    {
        margin-bottom: -30px;
    }

    .criteria .key_criteria .row > *
    {
        margin-bottom: 30px;
    }


    .criteria .key_criteria .item
    {
        padding: 30px;
    }


    .criteria .key_criteria .text_block
    {
        width: 797px;
    }



    /*------------------
        Why not work
    ------------------*/
    .why_not_work
    {
        padding: 0 28px;
    }


    .why_not_work .block_title
    {
        width: 596px;
    }


    .why_not_work .information
    {
        margin-right: -28px;
        margin-left: -28px;

        background-position: -56px 50%;
    }

    .why_not_work .information .title
    {
        width: 395px;
        padding: 29px 56px;
    }

    .why_not_work .information .desc
    {
        width: calc(100% - 405px);
        padding: 29px 49px 29px 61px;
    }



    /*----------------
        Prevention
    ----------------*/
    .prevention
    {
        padding: 130px 28px;
    }


    .prevention .block_head .title br
    {
        display: block;
    }


    .prevention .block_desc,
    .prevention .text_block
    {
        width: 810px;
    }


    .prevention .section
    {
        margin-top: 100px;
    }


    .prevention .exp
    {
        width: 810px;
        padding-right: 60px;
    }

    .prevention .exp:before
    {
        display: none;
    }



    /*----------------
        Story info
    ----------------*/
    .story_info .breadcrumbs
    {
        margin-bottom: 45px;
    }


    .story_info .data + .author
    {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .story_info .data + .author .thumb
    {
        height: 320px;
    }


    .story_info .data
    {
        width: 528px;
        max-width: calc(100% - 445px);
        margin-top: 70px;
        margin-bottom: 70px;
        padding-left: 28px;
    }

    .story_info .author + .data
    {
        width: calc(100% - 445px);
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 80px;
        padding: 0;
    }


    .story_info .title
    {
        font-size: 42px;

        width: 393px;
        max-width: 100%;
    }


    .story_info .desc
    {
        margin-top: 20px;
    }


    .story_info .link
    {
        margin-top: 32px;
    }



    /*-------------
        Stories
    -------------*/
    .stories:after
    {
        top: -200px;

        width: 454px;
        height: 454px;
        margin-right: -767px;
    }


    .stories .row
    {
        margin-bottom: -30px;
        margin-left: -30px;
    }

    .stories .row > *
    {
        width: calc(33.333% - 30px);
        margin-bottom: 30px;
        margin-left: 30px;
    }



    /*----------------
        Story data
    ----------------*/
    .story_data
    {
        padding-left: 28px;
    }


    .story_data .title
    {
        width: 552px;
    }


    .story_data .text_block
    {
        width: 750px;
    }


    .story_data .icon
    {
        top: 367px;

        width: 310px;
        height: 310px;
        margin-right: -608px;
    }

    .story_data .icon img
    {
        height: 116px;
    }



    /*--------------------
        Ferritin about
    --------------------*/
    .ferritin_about .data
    {
        width: calc(100% - 380px);
    }


    .ferritin_about .message
    {
        width: 320px;
        margin-right: 0;
        padding: 77px 20px 40px;

        box-shadow: inset 0 0 0 4px #fff;
    }



    /*---------------------
        Ferritin normal
    ---------------------*/
    .ferritin_normal
    {
        padding: 130px 0;
    }


    .ferritin_normal .values .title
    {
        margin-bottom: 40px;
    }


    .ferritin_normal .values .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .ferritin_normal .values .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .ferritin_normal .values .item
    {
        padding: 25px 20px;
    }


    .ferritin_normal .values .item .name span
    {
        width: calc(100% - 50px);
    }


    .ferritin_normal .values .item .features > * + *
    {
        margin-top: 9px;
    }

    .ferritin_normal .values .item .features .val
    {
        font-size: 18px;
        line-height: 24px;
    }


    .ferritin_normal .text_block
    {
        width: 750px;
    }



    /*---------------------
        Ferritin causes
    ---------------------*/
    .ferritin_causes .text_block
    {
        width: 750px;
    }



    /*-----------------------
        Ferritin symptoms
    -----------------------*/
    .ferritin_symptoms .block_title
    {
        margin-bottom: 40px;
    }


    .ferritin_symptoms .item .icon img
    {
        width: 50px;
        height: 50px;
    }

    .ferritin_symptoms .item .icon + *
    {
        width: calc(100% - 82px);
    }



    /*-------------------
        Ferritin when
    -------------------*/
    .ferritin_when .information
    {
        background-position: -104px 50%;
    }


    .ferritin_when .information .title
    {
        width: 395px;
    }

    .ferritin_when .information .desc
    {
        width: calc(100% - 405px);
        padding: 29px 49px 29px 61px;
    }



    /*-----------------------
        Treatment methods
    -----------------------*/
    .treatment_methods
    {
        padding: 130px 0;
    }


    .treatment_methods .text_block
    {
        width: 750px;
    }


    .treatment_methods .information
    {
        margin-right: -28px;
        margin-left: -28px;
        padding: 50px;
    }


    .treatment_methods .information .text_block
    {
        width: 469px;
    }


    .treatment_methods .information .exp
    {
        right: -40px;

        width: 348px;
        padding: 30px 87px 30px 45px;
    }



    /*---------
        FAQ
    ---------*/
    .faq
    {
        padding: 0 28px;
    }


    .faq .accordion_item + .accordion_item
    {
        margin-top: 40px;
    }


    .faq .accordion_item .text_block
    {
        width: 750px;
    }



    /*--------------------
        Article author
    --------------------*/
    .article_author .data
    {
        padding: 40px;
    }



    /*------------------------
        About deficit iron
    ------------------------*/
    .about_deficit_iron
    {
        padding: 0 28px;
    }


    .about_deficit_iron .information
    {
        margin-right: -28px;
        margin-left: -28px;

        background-position: -56px 50%;
    }


    .about_deficit_iron .information .title
    {
        width: 395px;
        padding: 45px 56px;
    }

    .about_deficit_iron .information .desc
    {
        width: calc(100% - 405px);
        padding: 45px 49px 45px 61px;
    }


    .about_deficit_iron .text_block
    {
        width: calc(100% - 270px);
    }


    .about_deficit_iron img
    {
        width: 177px;
        margin-right: 40px;
    }



    /*-------------------------
        Stages deficit iron
    -------------------------*/
    .stages_deficit_iron
    {
        padding: 0 28px;
    }


    .stages_deficit_iron .data
    {
        width: 596px;
    }


    .stages_deficit_iron .block_head
    {
        margin-bottom: 50px;
    }

    .stages_deficit_iron .block_head .title.min_w
    {
        width: 522px;
    }


    .stages_deficit_iron .items
    {
        font-size: 17px;

        top: 214px;
        right: -8px;

        width: 260px;
    }

    .stages_deficit_iron .items:before
    {
        top: -109px;
        left: -119px;

        width: 639px;
        height: 639px;
    }


    .stages_deficit_iron .stage .block_title,
    .stages_deficit_iron .stage .block_desc
    {
        width: 750px;
    }

    .stages_deficit_iron .stage .block_desc.big_w
    {
        width: 784px;
    }


    .stages_deficit_iron .stage .information
    {
        margin-right: -28px;
        margin-left: -28px;

        background-position: -56px 0;
    }

    .stages_deficit_iron .stage .information .info
    {
        width: 395px;
        padding: 48px 56px;
    }

    .stages_deficit_iron .stage .information .desc
    {
        width: calc(100% - 405px);
        padding: 29px 49px 29px 61px;
    }


    .stages_deficit_iron .stage .information.min_offset
    {
        background-position: -138px 0;
    }

    .stages_deficit_iron .stage .information.min_offset .desc
    {
        padding: 29px 20px 29px 10px;
    }


    .stages_deficit_iron .stage .text_block
    {
        width: 750px;
    }

    .stages_deficit_iron .stage .text_block + .text_block
    {
        margin-top: 80px;
    }


    .stages_deficit_iron .stage .result .text
    {
        width: 445px;
    }

    .stages_deficit_iron .stage .result img
    {
        object-position: 35% 50%;
    }


    .stages_deficit_iron .stats .data
    {
        width: calc(100% - 365px);
        margin-left: -28px;
    }


    .stages_deficit_iron .stats .data .head
    {
        padding: 44px 37px 42px;
    }


    .stages_deficit_iron .stats .data .features
    {
        padding: 37px 37px 20px;
    }


    .stages_deficit_iron .stats .list
    {
        width: 287px;
        margin-top: 0;
        margin-right: -28px;
    }

    .stages_deficit_iron .stats .list > * + *
    {
        margin-top: 60px;
    }

    .stages_deficit_iron .stats .list .exp
    {
        margin-top: 0;
    }


    .stages_deficit_iron .symptoms .block_head .desc
    {
        width: 584px;
    }


    .stages_deficit_iron .symptoms .text_block
    {
        width: 750px;
        margin-top: 50px;
    }



    /*-------------------
        Complications
    -------------------*/
    .complications
    {
        padding: 130px 28px;
    }


    .complications .block_head
    {
        margin-bottom: 60px;
    }

    .complications .block_head .desc
    {
        width: 665px;
    }


    .complications .row
    {
        margin-left: -60px;
    }

    .complications .row > *
    {
        width: calc(50% - 60px);
        margin-left: 60px;
    }



    /*----------------------
        Anemia treatment
    ----------------------*/
    .anemia_treatment
    {
        padding: 0 28px;
    }


    .anemia_treatment .block_head
    {
        margin-bottom: 70px;
    }


    .anemia_treatment .information
    {
        padding: 50px;
    }

    .anemia_treatment .information .text_block
    {
        width: 469px;
    }

    .anemia_treatment .information .exp
    {
        right: -40px;
        bottom: 50px;

        width: 348px;
        padding: 30px 87px 30px 45px;

        border-radius: 0;
    }


    .anemia_treatment .data
    {
        width: 551px;
    }


    .anemia_treatment .data + .exp
    {
        width: 299px;
        margin-bottom: 30px;
        padding: 50px 40px;
    }


    .anemia_treatment .text_block
    {
        width: 750px;
        margin-top: 30px;
    }



    /*-----------------------
        Tеreatment causes
    -----------------------*/
    .tеreatment_causes
    {
        padding: 130px 28px;
    }

    .tеreatment_causes:before
    {
        top: -194px;

        margin-right: -994px;
    }


    .tеreatment_causes .block_head .desc
    {
        width: 540px;
    }



    /*------------------
        Prevention 2
    ------------------*/
    .prevention2
    {
        padding: 0 28px;
    }


    .prevention2 .data
    {
        width: 596px;
    }


    .prevention2 .notice
    {
        font-size: 17px;

        width: 250px;
        height: 250px;
        margin-top: 0;
        margin-right: -22px;
        padding: 18px;
    }

    .prevention2 .notice .icon
    {
        width: 10px;
    }


    .prevention2 .text_block
    {
        width: 750px;
    }



    /*------------------
        Symptom info
    ------------------*/
    .symptom_info .block_head,
    .symptom_info .text_block
    {
        width: 750px;
    }



    /*--------------------
        Iron pregnancy
    --------------------*/
    .iron_pregnancy
    {
        padding: 0 28px;
    }


    .iron_pregnancy .information
    {
        width: calc(100% + 56px);
        margin-right: -28px;
        margin-left: -28px;

        background-position: 0 50%;
    }

    .iron_pregnancy .information .title
    {
        width: 395px;
        padding: 29px 56px;
    }

    .iron_pregnancy .information .desc
    {
        width: calc(100% - 405px);
        padding: 45px 49px 45px 61px;
    }


    .iron_pregnancy .text_block
    {
        width: 750px;
    }



    /*----------------
        Hemoglobin
    ----------------*/
    .hemoglobin
    {
        padding: 130px 28px;
    }


    .hemoglobin .block_head
    {
        width: 750px;
        margin-bottom: 80px;
    }

    .hemoglobin .schema .data,
    .hemoglobin .schema .image
    {
        width: 432px;
    }


    .hemoglobin .text_block
    {
        width: 750px;
    }



    /*-----------------
        What danger
    -----------------*/
    .what_danger
    {
        padding: 0 28px;
    }


    .what_danger .block_head
    {
        width: 750px;
    }

    .what_danger .block_head .desc br
    {
        display: none;
    }


    .what_danger .row .text_block
    {
        width: calc(100% - 361px);
    }


    .what_danger .message
    {
        width: 321px;
        margin-right: -28px;
        padding: 75px 15px 50px;
    }


    .what_danger .text_block ul.row
    {
        margin-left: -50px;
    }

    .what_danger .text_block ul.row li
    {
        width: calc(50% - 50px);
        margin-left: 50px;
    }


    .what_danger .notice
    {
        width: calc(100% + 56px);
        margin-right: -28px;
        margin-left: -28px;
    }

    .what_danger .notice .text_block
    {
        width: 555px;
    }



    /*--------------------
        Iron diagnosis
    --------------------*/
    .iron_diagnosis
    {
        padding: 0 28px;
    }


    .iron_diagnosis .accordion_item > .head .icon img
    {
        width: 61px;
        height: 61px;
    }

    .iron_diagnosis .accordion_item > .head .title
    {
        width: calc(100% - 91px);
    }


    .iron_diagnosis .accordion_item > .data
    {
        padding-left: 91px;
    }


    .iron_diagnosis .information
    {
        padding: 50px;
    }

    .iron_diagnosis .information .text_block
    {
        width: 540px;
    }

    .iron_diagnosis .information .exp
    {
        top: 50px;
        right: -40px;

        width: 348px;
        padding: 30px 87px 30px 45px;

        border-radius: 0;
    }


    .iron_diagnosis .hepcidin .text_block
    {
        width: 750px;
    }



    .iron_diagnosis .compensation .block_desc
    {
        width: 750px;
    }



    /*------------------------
        What danger excess
    ------------------------*/
    .what_danger_excess
    {
        padding: 130px 28px;
    }



    /*---------------
        About IDA
    ---------------*/
    .about_IDA
    {
        padding: 0 28px;
    }


    .about_IDA .data
    {
        width: 508px;
    }


    .about_IDA .exp
    {
        margin-top: 116px;
        margin-right: -21px;
        padding: 48px;
    }



    /*--------------------
        Prevalence IDA
    --------------------*/
    .prevalence_IDA
    {
        padding: 130px 28px 140px;
    }


    .prevalence_IDA > .bg
    {
        min-width: 300px;
        margin-right: -727px;
    }


    .prevalence_IDA .block_head,
    .prevalence_IDA .text_block
    {
        width: 601px;
    }


    .prevalence_IDA .exp
    {
        margin-right: -644px;
    }



    /*-----------------
        Reasons IDA
    -----------------*/
    .reasons_IDA
    {
        padding: 0 28px;
    }


    .reasons_IDA .block_head .title
    {
        width: 552px;
    }


    .reasons_IDA .block_head .desc
    {
        width: 797px;
        margin-top: 20px;
    }


    .reasons_IDA .accordion
    {
        width: 100%;
    }


    .reasons_IDA .accordion_item .head .icon img
    {
        width: 61px;
        height: 61px;
    }

    .reasons_IDA .accordion_item .head .title
    {
        width: calc(100% - 77px);
    }

    .reasons_IDA .accordion_item .data
    {
        padding-left: 77px;
    }



    /*-------------------
        Symptoms IDA
    -------------------*/
    .symptoms_IDA
    {
        padding: 130px 28px;
    }


    .symptoms_IDA .block_head
    {
        margin-bottom: 80px;
    }

    .symptoms_IDA .block_head .title.w_full
    {
        width: 552px;
        max-width: 100%;
    }

    .symptoms_IDA .block_head .desc
    {
        width: 797px;
    }


    .symptoms .row
    {
        margin-bottom: -25px;
        margin-left: -35px;
    }

    .symptoms_IDA .row > *
    {
        width: calc(50% - 35px);
        margin-bottom: 25px;
        margin-left: 35px;
    }



    /*-------------------
        Influence IDA
    -------------------*/
    .influence_IDA
    {
        padding: 0 28px;
    }


    .influence_IDA .information
    {
        margin-right: -28px;
        margin-left: -28px;
    }

    .influence_IDA .information .text_block
    {
        width: 653px;
        max-width: 100%;
    }



    /*-------------------
        Diagnostics IDA
    -------------------*/
    .diagnostics_IDA
    {
        padding: 130px 28px;
    }


    .diagnostics_IDA .information
    {
        width: calc(100% + 56px);
        margin-right: -28px;
        margin-left: -28px;
    }


    .diagnostics_IDA .information .text_block
    {
        width: 653px;
    }



    /*-------------------
        Treatment IDA
    -------------------*/
    .treatment_IDA
    {
        padding: 0 28px;
    }



    /*--------------
        Form IDA
    --------------*/
    .form_IDA
    {
        padding: 130px 28px;
    }


    .form_IDA .block_head .title
    {
        width: 653px;
    }


    .form_IDA .text_block
    {
        width: 496px;
    }


    .form_IDA .exp
    {
        margin-right: -28px;
    }



    /*---------------------
        About iron body
    ---------------------*/
    .about_iron_body
    {
        padding: 0 28px;
    }


    .about_iron_body .information
    {
        margin-right: -28px;
        margin-left: -28px;

        background-position: -56px 50%;
    }

    .about_iron_body .information .title
    {
        width: 395px;
        padding: 30px 48px;
    }

    .about_iron_body .information .desc
    {
        width: calc(100% - 405px);
        padding: 30px 30px 30px 61px;
    }


    .about_iron_body .text_block
    {
        width: 750px;
    }



    /*--------------------------
        Hemoglobin myoglobin
    --------------------------*/
    .hemoglobin_myoglobin
    {
        padding: 130px 28px;
    }



    /*-------------
        Enzymes
    -------------*/
    .enzymes
    {
        padding: 0 28px;
    }


    .enzymes .text_block
    {
        width: 750px;
        max-width: 100%;
    }



    /*--------------------------
        Ferritin transferrin
    --------------------------*/
    .ferritin_transferrin
    {
        padding: 0 28px;
    }


    .ferritin_transferrin .text_block
    {
        width: 750px;
        max-width: 100%;
    }

    .ferritin_transferrin .row .text_block
    {
        width: 579px;
    }


    .ferritin_transferrin .message
    {
        width: 321px;
        margin-right: -28px;
        padding: 75px 15px 50px;
    }


    .ferritin_transferrin .information
    {
        margin-right: -28px;
        margin-left: -28px;
        padding: 50px;
    }


    .ferritin_transferrin .information .text_block
    {
        width: 653px;
    }



    /*-----------
        Norms
    -----------*/
    .norms
    {
        padding: 130px 28px;
    }


    .norms .exp
    {
        font-size: 14px;
        line-height: 140%;

        margin-top: 24px;
    }



    /*---------------------
        Iron deficiency
    ---------------------*/
    .iron_deficiency
    {
        padding: 0 28px;
    }


    .iron_deficiency .block_head,
    .iron_deficiency .text_block
    {
        width: 750px;
    }


    .iron_deficiency .action_block
    {
        margin-right: -28px;
        margin-left: -28px;
    }



    /*-----------------------
        Iron preparations
    -----------------------*/
    .iron_preparations
    {
        padding: 130px 28px;
    }


    .iron_preparations .block_head
    {
        width: 644px;
    }


    .iron_preparations .notice
    {
        font-size: 17px;

        width: 250px;
        height: 250px;
        margin-top: 0;
        margin-right: -22px;
        padding: 18px;
    }

    .iron_preparations .notice .icon
    {
        width: 10px;
    }


    .iron_preparations .text_block
    {
        width: 750px;
    }


    .iron_preparations .information
    {
        margin-right: -28px;
        margin-left: -28px;
        padding: 50px;
    }


    .iron_preparations .information .text_block
    {
        width: 540px;
    }


    .iron_preparations .information .exp
    {
        right: -40px;

        width: 348px;
        padding: 30px 87px 30px 45px;
    }



    /*-----------------
        Excess iron
    -----------------*/
    .excess_iron
    {
        padding: 0 28px;
    }


    .excess_iron .block_head,
    .excess_iron .text_block
    {
        width: 750px;
    }



    /*------------
        Footer
    ------------*/
    footer .logo img
    {
        width: 128px;
    }


    footer .text
    {
        width: calc(100% - 318px);
    }
}
