/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --sidebar_width: 382px;
    --scroll_width: 17px;
    --text_color: #797979;
    --font_size: 20px;
    --font_size_title: 36px;
    --font_family: 'Roboto', 'Arial', sans-serif;
    --font_family2: 'Inter', 'Arial', sans-serif;
    --font_family3: 'Roboto Condensed', 'Arial', sans-serif;
}


::selection
{
    color: #fff;

    background: #a67db6;
}

::-moz-selection
{
    color: #fff;

    background: #a67db6;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: var(--bg);
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #a67db6;
}

html.custom_scroll
{
    scrollbar-color: #a67db6 var(--bg);
    scrollbar-width: thin;
}


body
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

body.menu_open
{
    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 375px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    display: flex;
    flex-direction: column;

    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    max-width: 1188px;
    margin: 0 auto;
    padding: 0 24px;
}


.lazyload,
.swiper-lazy
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lazyload.loaded,
.swiper-lazy-loaded
{
    opacity: 1;
}


.row
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.content_flex.row,
.content_flex > .cont.row
{
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.content_flex .content
{
    position: relative;

    width: calc(100% - var(--sidebar_width) - 27px);
}

.content_flex .content > *:first-child
{
    margin-top: 0;
}

.content_flex .content > *:last-child
{
    margin-bottom: 0;
}



.block
{
    margin-bottom: 150px;
}

.block.no_margin
{
    margin-bottom: 0 !important;
}



.overlay
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error
{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show
{
    display: flex;
}



/*--------------
    Fancybox
--------------*/
.fancybox__backdrop
{
    background: rgba(0, 0, 0, .6);
}


.fancybox__slide
{
    padding: 40px;
}



/*------------
    Header
------------*/
header
{
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;

    width: 100%;
    padding: 22px 0;
}


header .cont
{
    justify-content: space-between;
    align-items: center;
    align-content: center;
}



header .logo
{
    color: currentColor;

    display: block;

    text-decoration: none;
}

header .logo img
{
    display: block;
}



header .menu_item
{
    position: relative;
}

header .menu_item + .menu_item
{
    margin-left: 26px;
}


header .menu_item > a
{
    color: var(--text_color);
    font-size: 16px;
    line-height: 24px;

    display: flex;

    min-height: 24px;

    text-align: center;
    text-decoration: none;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


header .menu_item > a .arr
{
    display: block;

    width: 8px;
    height: 6px;
    margin-left: 5px;

    border-top: 6px solid #797979;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}


header .sub_menu
{
    position: absolute;
    z-index: 9;
    top: calc(100% + 30px);
    left: 0;

    visibility: hidden;

    min-width: 100%;
    padding: 4px 0;

    transition: .2s linear;
    pointer-events: none;

    opacity: 0;
    background: #000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

header .menu_item:hover > a.touch_link + .sub_menu
{
    top: calc(100% + 30px);

    visibility: hidden;

    pointer-events: none;

    opacity: 0;
}

header .menu_item:hover .sub_menu,
header .menu_item > a.touch_link + .sub_menu.show
{
    top: 100%;

    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


header .sub_menu a
{
    color: currentColor;
    font-size: inherit;
    line-height: inherit;

    display: block;

    padding: 8px 20px;

    transition: background .2s linear;
    text-decoration: none;
}

header .sub_menu a:hover,
header .sub_menu a.active
{
    background: #f6f6f6;
}



header .test_btn
{
    color: #fff;
    font-size: 12px;
    line-height: 107%;

    display: flex;

    padding: 9px 18px;

    border-radius: 52px;
    background: #a67db6;
    box-shadow: 0 8px 25px rgba(148, 110, 163, .36);

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .test_btn .icon
{
    display: block;

    width: 27px;
    height: 26px;
    margin-right: 8px;
}



/*-----------------
    Mob. header
-----------------*/
.mob_header
{
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    padding: 16px 0;
}


.mob_header .cont
{
    justify-content: space-between;
    align-items: center;
    align-content: center;
}



.mob_header .logo
{
    color: currentColor;

    display: block;

    margin-right: auto;

    text-decoration: none;
}

.mob_header .logo img
{
    display: block;
}



.mob_header .mob_menu_btn
{
    color: currentColor;

    display: flex;

    width: 44px;
    height: 34px;
    margin-right: -8px;
    margin-left: 24px;
    padding: 8px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.mob_header .mob_menu_btn span
{
    position: relative;

    display: block;

    width: 100%;
    height: 2px;

    background: currentColor;
}

.mob_header .mob_menu_btn span:before,
.mob_header .mob_menu_btn span:after
{
    position: absolute;
    top: -8px;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: currentColor;
}

.mob_header .mob_menu_btn span:after
{
    top: 8px;
}



/*-------------
    Sidebar
-------------*/
aside
{
    position: relative;

    width: var(--sidebar_width);
    max-width: 100%;
}



/*-----------------
    Breadcrumbs
-----------------*/
.breadcrumbs
{
    color: currentColor;
    font-size: 14px;
    line-height: 16px;

    padding: 46px 0;
}


.breadcrumbs a
{
    color: currentColor;
}


.breadcrumbs .sep
{
    display: inline-block;

    margin: 0 6px;

    vertical-align: top;
}



/*----------------
    Block head
----------------*/
.block_head
{
    margin-bottom: 50px;
}


.block_head .title
{
    color: #000;
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: 125%;

    display: block;
}


.block_head .desc
{
    margin-top: 50px;
}



/*------------------
    Form elements
------------------*/
.form
{
    --form_border_color: #000;
    --form_focus_color: #000;
    --form_error_color: red;
    --form_border_radius: 3px;
    --form_bg_color: #fff;
    --form_label_width: 200px;
    --form_placeholder_color: #ccc;
}


.form ::-webkit-input-placeholder
{
    color: var(--form_placeholder_color);
}

.form :-moz-placeholder
{
    color: var(--form_placeholder_color);
}

.form ::-moz-placeholder
{
    color: var(--form_placeholder_color);

    opacity: 1;
}

.form :-ms-input-placeholder
{
    color: var(--form_placeholder_color);
}


.form .cols
{
    margin-left: -20px;
}

.form .cols .col
{
    width: calc(50% - 20px);
    margin-left: 20px;
}


.form .columns
{
    margin-left: calc(var(--form_columns_offset) * -1);

    --form_columns_offset: 20px;
}

.form .columns > *
{
    width: calc(50% - var(--form_columns_offset));
    margin-left: var(--form_columns_offset);
}


.form .columns > *.width1of3
{
    width: calc(33.333% - var(--form_columns_offset));
}

.form .columns > *.width2of3
{
    width: calc(66.666% - var(--form_columns_offset));
}

.form .columns > *.width3of3
{
    width: calc(100% - var(--form_columns_offset));
}


.form .line
{
    margin-bottom: 20px;
}


.form .line.row .label
{
    display: flex;

    width: var(--form_label_width);
    max-width: 100%;
    min-height: 40px;
    margin: 0;
    padding-right: 16px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.form .line.row .field
{
    width: calc(100% - var(--form_label_width));
    margin-left: auto;
}


.form .label
{
    margin-bottom: 8px;
}


.form .field
{
    position: relative;
}


.form .input
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);

    display: block;

    width: 100%;
    height: 40px;
    padding: 0 20px;

    transition: border-color .2s linear;

    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}

.form .input:-webkit-autofill
{
    -webkit-box-shadow: inset 0 0 0 50px var(--form_bg_color) !important;
}


.form textarea
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);

    display: block;

    width: 100%;
    height: 120px;
    padding: 12px 20px;

    resize: none;
    transition: border-color .2s linear;

    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}

.form textarea::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}


.form .input:focus,
.form textarea:focus,
.form .nice-select.open .current
{
    border-color: var(--form_focus_color);
}

.form .error,
.form .error + .nice-select .current
{
    border-color: var(--form_error_color);
}


.form input[type=checkbox]
{
    display: none;
}

.form input[type=checkbox] + label
{
    font-size: 14px;
    line-height: 16px;

    position: relative;

    display: flex;

    min-height: 20px;
    padding-left: 30px;

    cursor: pointer;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.form input[type=checkbox] + label a
{
    color: var(--text_color);
}

.form input[type=checkbox] + label a:hover
{
    text-decoration: none;
}


.form input[type=checkbox] + label:before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 20px;
    height: 20px;

    content: '';
    transition: .2s linear;

    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
}

.form input[type=checkbox] + label:after
{
    position: absolute;
    top: 5px;
    left: 5px;

    display: block;

    width: 10px;
    height: 6px;

    content: '';
    transition: opacity .2s linear;
    transform: rotate(-45deg);

    opacity: 0;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.form input[type=checkbox]:checked + label:after
{
    opacity: 1;
}


.form select
{
    display: none;
}

.form .nice-select
{
    position: relative;

    display: block;
}


.form .nice-select .current
{
    color: var(--form_placeholder_color);
    line-height: 38px;

    position: relative;

    display: block;
    overflow: hidden;

    height: 40px;
    padding: 0 50px 0 20px;

    cursor: pointer;
    transition: .2s linear;
    white-space: nowrap;
    text-overflow: ellipsis;

    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}

.form .nice-select .current:after
{
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;

    display: block;

    width: 14px;
    height: 14px;
    margin: auto;

    content: '';
    transform: rotate(-45deg);

    border-bottom: 2px solid var(--text_color);
    border-left: 2px solid var(--text_color);
}

.form .nice-select .current.selected
{
    color: var(--text_color);
}


.form .nice-select .list
{
    position: absolute;
    z-index: 9;
    top: calc(100% + 30px);
    left: 0;

    visibility: hidden;
    overflow: hidden;

    min-width: 100%;
    padding: 8px 0;

    transition: .2s linear;

    opacity: 0;
    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}

.form .nice-select.open .list
{
    top: calc(100% - 1px);

    visibility: visible;

    opacity: 1;
}


.form .nice-select .list .scrollbar
{
    overflow: auto;

    max-height: 240px;
}

.form .nice-select .list .scrollbar::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}


.form .nice-select .list .list_item
{
    padding: 8px 20px;

    cursor: pointer;
    transition: .2s linear;
}

.form .nice-select .list .list_item:empty
{
    display: none;
}

.form .nice-select .list .list_item:hover,
.form .nice-select .list .list_item.selected
{
    color: #fff;

    background: var(--form_border_color);
}


.form input[type=file]
{
    display: none;
}

.form input[type=file] + label
{
    position: relative;

    display: block;

    cursor: pointer;
}


.form .submit
{
    display: flex;

    padding-top: 10px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.form .submit_btn
{
    height: 40px;
    padding: 0 32px;

    transition: .2s linear;

    border: 1px solid var(--btn_bg);
    border-radius: var(--form_border_radius);
    background: var(--btn_bg);
}



/*----------------
    Typography
----------------*/
.text_block
{
    font-size: var(--font_size);
    line-height: 160%;
}


.text_block > *
{
    margin-bottom: 32px;
}


.text_block > :last-child
{
    margin-bottom: 0 !important;
}

.text_block > :first-child
{
    margin-top: 0 !important;
}


.text_block img
{
    display: block;

    max-width: 100%;
}

.text_block img.loaded
{
    height: auto !important;
}


.text_block b,
.text_block strong
{
    color: #792582;
    font-weight: 500;
}


.text_block ol
{
    counter-reset: li;
}

.text_block ol li
{
    position: relative;

    display: flex;

    min-height: 42px;
    padding-left: 76px;

    list-style-type: none;

    background: url(../images/bg_ol_li.svg) 0 50% no-repeat;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.text_block ol li + li
{
    margin-top: 40px;
}

.text_block ol li:before
{
    color: #a67db6;
    font-size: 64px;
    font-weight: 700;
    line-height: 42px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    height: 42px;
    margin: auto;

    content: counter(li);
    counter-increment: li;
    text-align: right;
}



/*------------------
    Service head
------------------*/
.service_head
{
    position: relative;
    z-index: 3;

    overflow: hidden;

    margin-bottom: 120px;
    padding-top: 174px;
    padding-bottom: 216px;

    background: #ddd;
}


.service_head .bg
{
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.service_head .cont
{
    position: relative;
}


.service_head .breadcrumbs
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}


.service_head .data
{
    width: 710px;
    max-width: 100%;
}


.service_head .data .title
{
    color: #792582;
    font-size: 48px;
    font-weight: 700;
    line-height: 125%;
}


.service_head .data .desc
{
    color: #000;
    font-size: 26px;
    line-height: 125%;

    width: 416px;
    max-width: 100%;
    margin-top: 26px;
}


.service_head .data .link
{
    color: #fff;
    font-family: var(--font_family2);
    font-size: 16px;
    line-height: 100%;

    display: inline-block;

    margin-top: 55px;
    padding: 18px 40px 20px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    border-radius: 30px;
    background: #792582;
    box-shadow: 0 18px 18px rgba(211, 190, 218, .5);
}



.service_head .anchors
{
    position: absolute;
    z-index: 9;
    bottom: 20px;
    left: 0;

    width: 100%;
    padding: 31px 0 30px;

    background: rgba(242, 230, 246, .6);

    backdrop-filter: blur(10px);
}


.service_head .anchors .row
{
    margin-bottom: -10px;
    margin-left: -80px;

    align-items: stretch;
    align-content: stretch;
}

.service_head .anchors .row > *
{
    margin-bottom: 10px;
    margin-left: 80px;
}


.service_head .anchors .btn
{
    color: #000;
    font-size: 16px;
    line-height: 19px;

    display: block;

    text-align: left;

    text-decoration-line: underline;
}



/*-------------
    Why how
-------------*/
.why_how .text_block
{
    width: 599px;
    max-width: calc(100% - 422px);
}


.why_how .info
{
    position: relative;

    width: 382px;
    max-width: 100%;
    margin-top: 45px;
    margin-left: auto;
    padding: 85px 36px 69px;

    text-align: center;

    border: 4px solid #a67db6;
    border-radius: 28px;
    background: #f2e6f6;
    box-shadow: inset 0 0 0 6px #fff;
}


.why_how .info .icon
{
    position: absolute;
    top: -49px;
    right: 0;
    left: 0;

    display: flex;

    width: 95px;
    height: 95px;
    margin: auto;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #a67db6;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.why_how .info .icon img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.why_how .info .title
{
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
}


.why_how .info .link
{
    color: #fff;
    font-size: 16px;
    line-height: 100%;

    display: inline-block;

    margin-top: 25px;
    padding: 18px 40px 20px;

    vertical-align: top;
    text-decoration: none;

    border-radius: 30px;
    background: #792582;
    box-shadow: 0 18px 15px rgba(189, 160, 199, .5);
}



/*------------------
    Which doctor
------------------*/
.which_doctor .data
{
    position: relative;
    z-index: 3;

    padding: 81px 77px 79px;

    background: #f8f8f8;
}

.which_doctor .data:after
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    display: block;

    width: calc(100% - 216px);
    height: 100%;

    content: '';

    background: linear-gradient(270deg, #f8f8f8 80.43%, rgba(248, 248, 248, 0) 100%);
}


.which_doctor .block_head
{
    width: 601px;
    max-width: 100%;
    margin-bottom: 0 !important;
    margin-left: auto;
}

.which_doctor .block_head .title
{
    color: #792582;
}


.which_doctor .bg
{
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    display: block;

    width: auto;
    height: 100%;
}



/*-----------------
    How prepare
-----------------*/
.how_prepare
{
    position: relative;
    z-index: 3;
}

.how_prepare:after
{
    position: absolute;
    z-index: -1;
    top: -105px;
    right: 50%;

    display: block;

    width: 617px;
    height: 617px;
    margin-right: -1012px;

    content: '';

    border-radius: 50%;
    background: #f2e6f7;
}


.how_prepare .text_block
{
    width: 730px;
    max-width: calc(100% - 320px);
}


.how_prepare .video_link
{
    color: #682d7d;

    display: block;

    width: 280px;
    max-width: 100%;
    margin-top: 65px;
    margin-left: auto;

    text-decoration: none;
}


.how_prepare .video_link .thumb
{
    position: relative;

    overflow: hidden;

    margin-bottom: 20px;
    padding-bottom: 64.28%;

    background: #ddd;
}


.how_prepare .video_link .thumb .icon
{
    color: #fff;

    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 63px;
    height: 63px;
    margin: auto;

    border: 1px solid;
    border-radius: 50%;
}

.how_prepare .video_link .thumb .icon:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 8px;

    display: block;

    width: 33px;
    height: 38px;
    margin: auto;

    content: '';

    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 33px solid;
}


.how_prepare .video_link .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.how_prepare .video_link .title
{
    font-weight: 500;
    line-height: 125%;
}


.how_prepare .video_link .author
{
    font-size: 16px;
    line-height: 125%;

    margin-top: 10px;
}



/*------------------
    Action block
------------------*/
.action_block
{
    padding: 100px 0;

    background: #f2e6f6;
}


.action_block .cont.row
{
    justify-content: center;
    align-items: center;
    align-content: center;
}


.action_block .title
{
    color: #792582;
    font-size: 36px;
    font-weight: 700;
    line-height: 125%;

    width: 586px;
    max-width: 100%;
}



.action_block .test_btn
{
    color: #fff;
    font-size: 16px;
    line-height: 125%;

    display: flex;

    margin-left: 133px;
    padding: 14px 24px 15px 20px;

    border-radius: 52px;
    background: #a67db6;
    box-shadow: 0 15px 19px rgba(148, 110, 163, .53);

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.action_block .test_btn .icon
{
    display: block;

    width: 33px;
    height: 28px;
    margin-right: 13px;
}



/*-----------------
    Preparation
-----------------*/
.preparation .block_head .desc
{
    color: #000;
    font-size: 24px;
    line-height: 125%;

    width: 651px;
    max-width: 100%;
}


.preparation .row
{
    margin-bottom: -60px;
    margin-left: -86px;
}

.preparation .row > *
{
    width: calc(50% - 86px);
    margin-bottom: 60px;
    margin-left: 86px;
}


.preparation .item
{
    line-height: 160%;

    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}


.preparation .item .icon
{
    width: 67px;
}

.preparation .item .icon + *
{
    width: calc(100% - 112px);
}



/*-------------
    Results
-------------*/
.results
{
    position: relative;
    z-index: 5;

    padding: 150px 0 100px;

    background: #f8f8f8;
}


.results .block_head
{
    margin-bottom: 59px;
}

.results .block_head .title
{
    color: #792582;
}


.results .row
{
    margin-bottom: -40px;
    margin-left: -40px;

    align-items: stretch;
    align-content: stretch;
}

.results .row > *
{
    width: calc(33.333% - 40px);
    margin-bottom: 40px;
    margin-left: 40px;
}


.results .item
{
    padding: 30px;

    border-radius: 20px;
    background: #f2e6f6;
}


.results .item .name
{
    color: #792582;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;

    display: flex;

    margin-bottom: 28px;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.results .item .name span
{
    width: calc(100% - 60px);
}


.results .item .icon
{
    display: flex;

    width: 30px;
    height: 43%;
    margin-left: auto;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.results .item .icon img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.results .item .features > *
{
    color: #000;
    font-size: 16px;
    line-height: 24px;

    display: flex;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.results .item .features > * + *
{
    margin-top: 10px;
}


.results .item .features .val
{
    color: #792582;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;

    white-space: nowrap;
}


.results .exp
{
    font-size: 14px;
    line-height: 120%;

    width: 373px;
    max-width: 100%;
    margin-top: 26px;
    padding: 0 20px;
}

.results .exp > * + *
{
    margin-top: 12px;
}



/*-----------------------
    Treatment control
-----------------------*/
.treatment_control
{
    position: relative;
    z-index: 3;
}

.treatment_control:after
{
    position: absolute;
    z-index: -1;
    top: -201px;
    right: 50%;

    display: block;

    width: 617px;
    height: 617px;
    margin-right: -1022px;

    content: '';

    border-radius: 50%;
    background: #f2e6f7;
}


.treatment_control .text_block
{
    width: 730px;
    max-width: calc(100% - 320px);
}


.treatment_control .video_link
{
    color: #682d7d;

    display: block;

    width: 280px;
    max-width: 100%;
    margin-top: -64px;
    margin-left: auto;

    text-decoration: none;
}


.treatment_control .video_link .thumb
{
    position: relative;

    overflow: hidden;

    margin-bottom: 20px;
    padding-bottom: 64.28%;

    background: #ddd;
}


.treatment_control .video_link .thumb .icon
{
    color: #fff;

    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 63px;
    height: 63px;
    margin: auto;

    border: 1px solid;
    border-radius: 50%;
}

.treatment_control .video_link .thumb .icon:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 8px;

    display: block;

    width: 33px;
    height: 38px;
    margin: auto;

    content: '';

    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 33px solid;
}


.treatment_control .video_link .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.treatment_control .video_link .title
{
    font-weight: 500;
    line-height: 125%;
}


.treatment_control .video_link .author
{
    font-size: 16px;
    line-height: 125%;

    margin-top: 10px;
}



/*----------
    Test
----------*/
.test
{
    position: relative;
    z-index: 3;

    padding: 100px 0;

    background: #f8f8f8;
}


.test .data
{
    width: 485px;
    max-width: 100%;
    margin-left: 38px;
}


.test .data .pre_title
{
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 15px;
}


.test .data .title
{
    color: #792582;
    font-size: 36px;
    font-weight: 700;
    line-height: 125%;
}


.test .data .desc
{
    color: #000;
    font-size: 24px;
    line-height: 125%;

    margin-top: 25px;
}



/*--------------
    Articles
--------------*/
.articles .swiper-slide
{
    width: 300px;
}


.articles .article .thumb
{
    position: relative;

    display: block;
    overflow: hidden;

    margin-bottom: 32px;
    padding-bottom: 56.66%;

    background: #ddd;
}

.articles .article .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.articles .article .name
{
    color: #792582;
    font-weight: 700;
    line-height: 150%;
}

.articles .article .name a
{
    color: currentColor;

    display: inline-block;

    vertical-align: top;
    text-decoration: none;
}


.articles .article .desc
{
    color: #000;
    font-size: 16px;
    line-height: 150%;

    margin-top: 32px;
}



/*-----------------------
    Contraindications
-----------------------*/
.contraindications
{
    color: #bebebe;
    font-family: var(--font_family3);
    font-size: 32px;
    line-height: 90%;

    margin-bottom: 30px;

    text-align: center;
    text-transform: uppercase;
}

.contraindications span
{
    font-size: 59px;
    font-weight: 300;
    line-height: 90%;
}



/*------------
    Footer
------------*/
footer
{
    padding: 40px 0;

    background: #ddc8e4;
}


footer .cont
{
    justify-content: space-between;
}



footer .logo img
{
    display: block;
}



footer .text
{
    color: #404040;
    font-size: 14px;
    line-height: 130%;

    width: 752px;
    max-width: 100%;
}

footer .text > * + *
{
    margin-top: 20px;
}


footer .text a
{
    color: currentColor;
}
